---
layout: reveal
title: The Future of Open Data Research
description:
author: 13 November 2013
twitter: ukodi
---


{% include odi_logo.html %}

{% include standard_title.html %}


<style type="text/css">
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

reveal {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: 200;
  letter-spacing: 0.6em;
  color: #333333;
 }
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #333333;
  font-family: "Quicksand", sans-serif;
  line-height: 1.2em;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  text-shadow: none;
 }
</style>

<section>
	<h2>Welcome</h2>
	<h3>why we&apos;re here</h3>
	<ul class="centred-list">
		<li><strong>community</strong></li>
		<li><strong>interdisciplinarity</strong></li>
		<li><strong>exploration</strong></li>
		<li><strong>outcomes</strong></li>
	</ul>
</section>

<section>
	<h2>Programme</h2>
	<ol>
		<li>open data research is...</li>
		<li>open data research: new frontier or business as usual?</li>
		<li>group work: your next open data research project</li>
		<li>feedback and project pitches</li>
	</ol>
</section>

<section>
	<h2>&quot;Open Data Research is...&quot;</h2>
	<ul>
		<li>lightning talks on the topic</li>
		<li>one slide each</li>
		<li>strict three minute slot</li>
		<li>coffee and break at 11:00am</li>
	</ul>
</section>

<section>
	<h2>open data research</h2>
	<h3><em>new frontier or<br/>business as usual?</em></h3>
	<ul class="centred-list">
		<li class="fragment"><strong>research about open data vs<br/>research with open data?</strong></li>
		<li class="fragment"><strong>is there a big opportunity in open data research?</strong><br/>
			just the next hype/funding wave to ride?<br/>
			something more fundamental?
		</li>
		<li class="fragment"><strong>what is novel about open data research?</strong></li>
		<li class="fragment"><strong>what is challenging about open data research?</strong></li>
	</ul>
</section>

<section>
	<h2>open data research</h2>
	<h3><em>new frontier or<br/>business as usual?</em></h3>
	<ul class="centred-list">
		<li class="fragment"><strong>is there a (new) coherent field to build?</strong><br/>or simply related research questions grounded in existing disciplines?</li>
		<li class="fragment"><strong>what are these disciplines?</strong><br/>how do we tie them together to progress the agenda?</li>
		<li class="fragment"><strong>what are the top priorities in the research space?</strong></li>
		<li class="fragment"><strong>what resources or initiatives are needed to make progress?</strong></li>
	</ul>
</section>


<section>
	<h2>Group Work</h2>
	<h3><em>Your next<br/>open data research project</em></h3>
	<ol>
		<li>generate three research questions</li>
		<li style="margin-top:0.6em">identify...</li>
		<ul>
			<li>the methodology you would use</li>
			<li>who you&apos;d need to be involved</li>
			<li>what other resources you&apos;d need</li>
			<li>where you might find them</li>
			<li>what the outcomes would be</li>
			<li>what would be the next steps after that?</li>
		</ul>
	</ol>
</section>

<section>
	<h2>Feedback / Project Pitches</h2>
	<ul class="centred-list">
		<li><strong>1-minute elevator pitch per project idea</strong><br/>
			include at least one concrete action
		</li>
		<li><strong>1 minute q&amp;a / discussion per pitch</strong></li>
	</ul>
</section>

<section>
	<h2>Discussion and Close</h2>
</section>

<section>
  <h2>Questions?</h2><br>
  <img height="320;" src="brand/odi_dynamic_logo.png" alt="ODI" style="border:none; box-shadow:none;"> 
  <hr>
  <!-- <p style="text-align:center">Tom Heath · Open Data Institute</p>
  <p style="text-align:center; font-size: smaller">
		<a href="mailto:tom.heath@theodi.org">tom.heath@theodi.org</a> ·
		<a href="https://twitter.com/tommyh">@tommyh</a>
	</p> -->
</section>


<!-- <section id="handout">
	<h3>Considerations for the<br/>general case</h3>
    <ol class="fragment">
      <li style="color:#D60303">Accessibility</li>
      <li style="color:#2254F4">Ownership and licensing</li>
			<li style="color:#0DBC37">Form</li>
			<li style="color:#FF6700">Quality</li>
			<li style="color:#B13198">Support</li>
    </ol>
</section> -->


<!-- {% include odi_tech_team.html %} -->
