---
layout: reveal
title: First Steps with Peer-to-Peer Lending
author: Ulrich Atz and the TEAM
description: Part 2 of the Open Source Finance series
---

{% include odi_logo.html %}

{% include standard_title.html %}

<section id="outline" data-background="#00B7FF" class="colourslide">
	<h2>Outline</h2>
	<br>
    <ol>
      <li>What is P2P lending?</li>
      <li>Show me the Money!</li>
	  <li>Open data in finance?</li>
    </ol>
</section>

<section id="content" data-background="#1DD3A7" class="colourslide">
	<h3>What is peer-to-peer lending ... not?
	<br>
	<br>
	<h3 class="fragment">Crowdfunding</h3>
	<h3 class="fragment">Other P2P</h3>
	<h3 class="fragment">Banks</h3>
</section>

<section id="p2p-1">
	<h3>Syndicated loans</h3>
	<img class="stretch" src="2013-10-open-finance/p2p-flow.png" style="border:none; box-shadow:none;">
	<h4 style="font-size:0.4em;">
	<a href="http://www.zopa.com/about-zopa/peer-to-peer-lending">Zopa</a></h4>
	<aside class="notes">Easier than "lending a tenner to that fella down the pub"</aside>
</section>

<section id="trends">
	<h4>Trends in Lending in the UK</h4>
	<img  width="800" src="2013-10-open-finance/trends-in-lending.png" style="border:none;">
	<h4 style="font-size:0.4em;">
		<a href="http://www.nesta.org.uk/library/documents/Peer-to-peer-lending-report.pdf">© NESTA 2013: Banking on Each Other</a>	</h4>
</section>

<section id="p2p-2">
	<h2>The UK P2P market</h2>
	<img class="stretch" src="2013-10-open-finance/companies.png" style="border:none; box-shadow:none;">
	<h4 style="font-size:0.4em;"><a href="http://www.p2pmoney.co.uk/companies.htm">P2P Money. Data based on information available on 8th October 2013.</a></h4>
</section>

<section id="smtm-1">
	<table id="maps" class="table">
	<thead>
	<tr>
	<th class="align-center">Lenders</th>
	<th class="align-center">Recipients</th>
	</tr>
	</thead>
	<tbody>
	<tr>
	<td class="align-center"><img src="2013-10-open-finance/p2p-map-lenders.gif" title="Growth of Lenders" alt="growth of lenders" style="border:none; box-shadow:none;"/></td>
	<td class="align-center"><img src="2013-10-open-finance/p2p-map-recipients.gif" title="Growth of Recipients" alt="growth of recipients" style="border:none; box-shadow:none;"/></td>
	</tr>
	</tbody>
	</table>
</section>

<section id="smtm-2">
	<h2><a href="http://smtm.labs.theodi.org/">Show me the Money</a></h2>
</section>

<section id="smtm-3" data-background="#67EF67" class="colourslide">
	<h3>Is there a North-South divide?</h3>
</section>

<section id="start" data-background="2013-10-open-finance/fortress.jpg">
    <div class="attribution">
        <a href="http://ifitshipitshere.blogspot.co.uk/2010/05/safe-house-in-poland-is-modern-fortress.html">Modern Fortress</a>
	</div>
	<aside class="notes">Until 1969 banks were exempt from publicly revealing their true profits, a requirement imposed on other kinds of companies long before then.</aside>
</section>

<section id="open-data" data-background="#F9BC26" class="colourslide">
	<h2>All open data is good, but some are better.</h2>
	<aside class="notes">LIVE CODING</aside>
</section>

<section id="tw-1" data-background="#EF3AAB" class="colourslide">
	<h3>How can <strong>banks</strong> benefit?</h3>
	<aside class="notes">People in the fin are trying to monopolise information + relationships
	Open Bank Project ODI startup</aside>
</section>

<section id="tw-2" data-background="#E6007C" class="colourslide">
	<h3>How can <strong>regulators</strong> benefit?</h3>
	<aside class="notes">"Complex and poorly understood instruments were at the heart of the crisis. Transparency about these structures—full information about them readily available to all market participants—is required to protect financial stability."  Member of the Bank of England’s Financial Policy Committee, DONALD KOHN (2011). Enhancing financial stability: the role of transparency. Speech at the London School of Economics, 6 September</aside>
</section>

<section id="tw-3" data-background="#B13198" class="colourslide">
	<h3>How can <strong>everyone</strong> benefit?</h3>
<aside class="notes">
  carrot and stick, Open audit, bridge the us vs them divide, 
  </aside>
</section>


<section>
  <h2>Questions?</h2><br>
  <img height="320;" src="brand/odi_dynamic_logo.png" alt="ODI" style="border:none; box-shadow:none;"> 
  <hr>
  <h4>Ulrich Atz · Open Data Institute</h4>
  <h4><a href="https://twitter.com/statshero">@statshero</a> · <a href="mailto:">ulrich@theodi.org</a></h4>
 
</section>

{% include odi_tech_team.html %}


