---
layout: reveal
title: Open Data
description: Culture and Technology
author: Dr Tom Heath
twitter: tommyh
---


{% include odi_logo.html %}

{% include standard_title.html %}


<style type="text/css">
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

reveal {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: 200;
  letter-spacing: 0.6em;
  color: #333333;
 }
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #333333;
  font-family: "Quicksand", sans-serif;
  line-height: 1.2em;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  text-shadow: none;
 }
</style>


<section>
	<h2>What is Open Data?</h2>
</section>

<section>
	<p>
		<blockquote>Open data is information that is available for anyone to use, for any purpose,<br/>at no cost.</blockquote>
		&mdash;&nbsp;<a href="http://opendefinition.org/">http://theodi.org/guide/what-open-data</a>
	</p>
	<aside class="notes">the simplest definition of open data is this one...</aside>
</section>

<section>
	<ul class="centred-list">
		<li><strong>open data</strong><br/>must have have a <em>licence</em> to say it is open</li>
		<li><strong>the license</strong><br/>may impose some constraints:<br/><em>attribution</em> and/or <em>share-alike</em></li>
	</ul>
  <aside class="notes"></aside>
</section>

<section>
	<p>
		<blockquote>A piece of data or content is open if anyone is free to use, reuse, and redistribute it &mdash; subject only, at most, to the requirement to attribute and/or share-alike.</blockquote>
		<span class="quoteattr">&mdash;&nbsp;<a href="http://opendefinition.org/">http://opendefinition.org/</a></span>
	</p>
</section>


<section>
	<h2>Open | Big | Personal Data</h2>
	<img class="stretch" src="2013-11-taiwan-open-data-culture-technology/venn-diagram-open-big-personal.png" style="border:none; box-shadow:none;"/>
</section>


<section>
	<h2>So What?</h2>
  <p>open data frees you up to build cool things without having to pay for the data or collect it yourself</p>
</section>


<section>
	<h2>Phenomenal Growth</h2>
	<ul>
		<li>[international context (distribution of open data portals; use indian index, http://opendatasites.com/)]</li>
		<li>[flag up that these sites are where you can find the data]</li>
	</ul>
  
</section>



<section>
	<h2>The Open Data Institute</h2>
	<ul class="centred-list">
		<li>non-profit, non-partisan</li>
		<li>founded 2012 by Tim Berners-Lee and Nigel Shadbolt</li>
		<li>&quot;helping others be successful with open data&quot;</li>
		<li>economic, social and environmental value</li>
	</ul>
</section>

<section>
	<h2>[data as culture: artworks]</h2>
</section>


<section id='open-by-default'>
		<h2>Open By Default</h2>
		<ul>
				<li>encourage public engagement</li>
				<li>plan in the open</li>
				<li>comments, forks, contributions</li>
		</ul>
		<blockquote>
				There are more good ideas in the world than there are in the ODI
		</blockquote>
</section>

<section id='share-everything'>
	<h2>Share Everything</h2>
	<ul>
		<li>Document and discuss experiences</li>
		<li>Create reusable components
			<ul>
				<li>Eat your own dogfood</li>
			</ul>
		</li>
		<li>Share learning to help others</li>
	</ul>
</section>


<section>
	<h2>Practicalities</h2>
	<ul>
		<li>Agile Approach</li>
		<li>Open Tools</li>
		<li>Open Communication</li>
		<li>Open Collaboration</li>
	</ul>
</section>


<section>
	<h2>ODI Ethos</h2>
	<p>everything in the open</p>
	<ul>
		<li><a href="http://theodi.github.io/open-development">principles</a></li>
		<li><a href="https://www.leftronic.com/share/g/OqF269/#jphb3p/OqF269">dashboard</a></li>
		<li><a href="https://github.com/theodi/">github</a></li>
		<li><a href="https://pinboard.in/u:theodi/">pinboard</a></li>
		<li>#theodi on irc.freenode.net</li>
		<li><a href="http://theodi.github.io/open-development/talk">more info</a></li>
	</ul>
</section>


<section>
	<h2>[Dashboards]</h2>
</section>


<section>
	<h2>[]</h2>
	<p>ingredients for success in the UK: secure base funding from government, provides a platform for working with commercial sector (large corporates, SMEs, startups -- membership programme), supported by training programme and wider ecosystem of organisations committed to this space (mention complimentarity with e.g. OKF)</p>
</section>


<section>
	<h2>[nodes]</h2>
</section>


<section>
  <p><img src='2013-09-bristol-brug-open-dev-open-data/prescribinganalytics.png'><br/>
  <small><a href='http://prescribinganalytics.com/'>http://prescribinganalytics.com/</a></small></p>
</section>

<section>
	<h2>[london fire]</h2>
</section>


<section>
	<h2>[data science with open data]</h2>
	<p>[challenges and opportunities]</p>
</section>


<section>
	<h2>Evaluating Data Quality</h2>
</section>


<section id="certificate1">
  <h2>Open Data Certificates</h2>
  <ul class="centred-list">
		<li><strong>the first robust quality badge for open data</strong></li>
		<li><strong>helps...</strong><br/>
			<strong>publishers</strong> certify their data<br/>
			<strong>users</strong> find and use it<br/>
			<strong>policy makers</strong> benchmark<br/></li>
		<li><a href="http://certificates.theodi.org">http://certificates.theodi.org</a></li>
		<!-- <li>example: the <a href="https://certificates.theodi.org/datasets/353/certificates/11801">OS Code-Point Data.</a></li> -->
</section>

<section id="certificate2">
	<img class="stretch" src="2013-10-TSB-workshop/cert-levels.png" style="border:none; box-shadow:none;"></a>
</section>

<section>
	<h2>Current Research</h2>
	<ul>
		<li>what are the best practices for publishing big (open) data?</li>
		<li>how are data sets currently described on the Web?</li>
		<li>how can we best extract (and aggregate) these descriptions?</li>
		<li>(open data certificates as a driver)</li>
	</ul>
</section>


<section>
	<section>
		<h2>Data Ecosystem</h2>
		<p>How do licensing choices affect the data ecosystem?</p>
		<p>What kind of licence is best for government to choose?</p>
	</section>
	<section>
		<h2>Data Ecosystem</h2>
		<h3><a href="http://theodi.github.io/data-ecosystem-simulation/">Simulation with D3</a></h3>
		<img src="2013-06-wais/data-ecosystem.png" />
	</section>
</section>

<section>
	<h2>Upcoming<br/>Research Projects</h2>
	<ul>
		<li>monitoring and analytics for open data deployment across Europe</li>
		<li>radically simplifying the consumption of open data by small businesses</li>
	</ul>
</section>

<section>
	<h2>The Big Picture</h2>
	<ul>
		<li>the mechanics of open data</li>
		<li>the impact of open data</li>
		<li>the web of open data</li>
	</ul>
</section>

<section>
	<h2>The Mechanics of<br/>Open Data</h2>
	<ul>
		<li><strong>provenance</strong>: collection protocol, documentation, granularity, post-processing?</li>
		<li><strong>licensing</strong>: adequacy of licensing regime? combining licenses? specifics of derivation? mechanics of expression?</li>
		<li><strong>versioning</strong>: conceptual models of versioning? infrastructure?</li>
		<li><strong>dataset description</strong>: how to convey these features (for potentially small fragments)?</li>
	</ul>
</section>

<section>
	<h2>The Impact of Open Data</h2>
	<ul>
		<li><strong>data ecosystems</strong>: what impact of open licensing?</li>
		<li><strong>structural</strong> business and economic <strong>barriers</strong> to uptake of open data?</li>
		<li><strong>qualitative stories</strong> of impact</li>
	</ul>
</section>

<section>
	<h2>The Web of Open Data</h2>
	<ul>
		<li><strong>data discovery</strong></li>
		<li><strong>profiling and indexing</strong></li>
		<li><strong>relevance and filtering</strong></li>
		<li><strong>integration</strong></li>
		<li><strong>dynamic interfaces</strong></li>
	</ul>
</section>



<section>
  <h2>Questions?</h2><br>
  <img height="320;" src="brand/odi_dynamic_logo.png" alt="ODI" style="border:none; box-shadow:none;"> 
  <hr>
  <p style="text-align:center">Tom Heath · Open Data Institute</p>
  <p style="text-align:center; font-size: smaller">
		<a href="mailto:tom.heath@theodi.org">tom.heath@theodi.org</a> ·
		<a href="https://twitter.com/tommyh">@tommyh</a>
	</p>
 
</section>



<!-- <section id="handout">
	<h3>Considerations for the<br/>general case</h3>
    <ol class="fragment">
      <li style="color:#D60303">Accessibility</li>
      <li style="color:#2254F4">Ownership and licensing</li>
			<li style="color:#0DBC37">Form</li>
			<li style="color:#FF6700">Quality</li>
			<li style="color:#B13198">Support</li>
    </ol>
</section> -->


{% include odi_tech_team.html %}
