---
layout: reveal
title: Running Around Naked
author: Open Data Institute Tech Team
twitter: ukoditech
description: How open development helps us be better programmers
---

{% include odi_logo.html %}
{% include standard_title.html %}

<section id="open-data-institute">
    <aside class="notes">
        Sam

        The ODI was founded late last year, as a non-profit dedicated to the spread of open data
    </aside>
    <h2>The Open Data Institute</h2>
    <ul>
        <li>launched October 2012</li>
        <li>non-profit</li>
        <li>funded by
            <ul>
                <li>UK Government</li>
                <li>matched by others</li>
            </ul>
        </li>
        <li>dedicated to Open Data</li>
        <ul>
            <li>increasing supply</li>
            <li>increasing demand</li>
            <li>education and training</li>
        </ul>
    </ul>
</section>

<section id="open-culture">
    <aside class="notes">
        Sam

        There is an art exhibit around our office. We see here the Vending Machine, which scans the BBC News RSS feed
        for any of a whole list of terms related to the recession, and when it gets a hit it dispenses crisps. We are
        all quite attached to the machine.

        This is not just about Open Data, it's about the philosophy of Open Culture.
    </aside>
    <h2>Open Culture</h2>
    <img src='open-development/vending-machine.png' style='max-height: 550px'/>
</section>

<section>
    <section id="tech-team">
        <aside class="notes">
            James
        </aside>
        <h2>ODI Tech Team</h2>
        <ul>
            <li>started January 2013</li>
            <li>mixture of skills
                <ul>
                    <li>data science</li>
                    <li>statistics</li>
                    <li>public data</li>
                    <li>devops</li>
                    <li>engineering</li>
                </ul>
            </li>
            <li>building tools for open data</li>
            <li>showing best practice</li>
            <li>open culture in code</li>
        </ul>
    </section>

    <section id="who-are-we">
        <img src='open-development/who-are-we.jpg'/>
        <aside class="notes">
            Started by defining principles
            Who are we - what do we believe
        </aside>
    </section>

    <section id='what-do-we-do'>
        <img src='open-development/what-do-we-do.jpg'/>
        <aside class="notes">
            how does that translate into practice?
        </aside>
    </section>

    <section id='open-by-default'>
        <h2>Open By Default</h2>
        <ul>
            <li>encourage public engagement</li>
            <li>plan in the open</li>
            <li>comments, forks, contributions</li>
        </ul>
        <blockquote>
            There are more good ideas in the world than there are in the ODI
        </blockquote>
    </section>

    <section id='borrow-mercilessly'>
        <h2>Borrow Mercilessly</h2>
        <ul>
            <li>We will build on other's work</li>
            <li>Avoid reinvention</li>
            <li>Focus efforts into new areas</li>
            <li>Contribute back</li>
            <li>Show appreciation for what others have done</li>
        </ul>
    </section>

    <section id='experiment-and-learn'>
        <h2>Experiment and Learn</h2>
        <ul>
            <li>Try new tools and ways of working</li>
            <li>Reflect continuously on what works</li>
            <li>Adapt to suit, or move on</li>
            <li>Continuous improvement</li>
        </ul>
    </section>

    <section id='share-everything'>
        <h2>Share Everything</h2>
        <ul>
            <li>Document and discuss experiences</li>
            <li>Create reusable components
                <ul>
                    <li>Eat your own dogfood</li>
                </ul>
            </li>
            <li>Share learning to help others</li>
        </ul>
    </section>

    <section id='be-ourselves'>
        <h2>Be Ourselves</h2>
        <ul>
            <li>We are all individuals</li>
            <li>We work as a team and in a community because we have common purpose</li>
            <li>Express individual opinions, considerately.</li>
        </ul>
    </section>

    <section id='practicalities'>
        <h2>Practicalities</h2>
        <ul>
            <li>Agile Approach</li>
            <li>Open Tools</li>
            <li>Open Communication</li>
            <li>Open Collaboration</li>
        </ul>
    </section>
</section>

<section id='open-tools'>
    <h2>Open Tools</h2>
</section>

<section>
    <section>
        <aside class="notes">
            Sam

            This is a tweet of mine from earlier this year
        </aside>
        <h2>Git and GitHub</h2>
        <blockquote>
            How did anybody ever do anything before GitHub?
        </blockquote>
        <small><a href="https://twitter.com/pikesley/status/303100904037556225">https://twitter.com/pikesley/status/303100904037556225</a>
        </small>
    </Section>
    <section id='git'>
        <aside class="notes">
            Does everybody understand what we mean by Version Control? For those of you who don't, Version Control is a
            bit like Google Documents, in that it retains past versions of our code, and also allows us to collaborate
            very easily.

            Git is our current Weapon Of Choice - in previous tools like Subversion, operations such as branching and
            merging were extremely expensive and painful. With Git, these things become a positive pleasure.
        </aside>

        <h2>Git</h2>

        <p>
            <a href='http://git-scm.com'>http://git-scm.com</a>
        </p>
        <ul>
            <li>Distributed version control</li>
            <li>Extremely cheap branching</li>
            <li>Extremely good merging</li>
        </ul>
    </section>

    <section id="github">
        <aside class="notes">
            Github has changed pretty much everything. It's difficult to conceive now of how we did ANYTHING before
            Github existed. As an example, on Good Friday this year I was sitting at my flat, collaborating over Github
            with some guy in Brazil to fix up somebody else's tool. The future is here, and it's amazing.
        </aside>
        <h2>GitHub</h2>

        <p>
            <a href='http://github.com'>http://github.com</a>
        </p>

        <ul>
            <li>Git hosting</li>
            <li>Issue tracking</li>
            <li>Wikis for documentation</li>
        </ul>
    </section>

    <section id="github-theodi">
        <aside class="notes">
            Here's our Github page, with some of our projects. That number is actually out-of-date now, we have over
            100 repos, which is remarkable for 7 months work. The particular thing that Github do that we really love
            is...
        </aside>
        <img src='open-development/github.png'/>
        <small><a href='http://github.com/theodi'>http://github.com/theodi</a></small>
    </section>

    <section id="pull-requests">
        <aside class="notes">
            The Pull Request model. This is how Github work themselves, if you're interested I seriously recommend
            watching this presentation by Zach Holman. The mechanism is...
        </aside>
        <h2>Pull Requests</h2>

        <p>
            Fork (or branch) and Pull
        </p>

        <p>
            <a href='http://zachholman.com/talk/how-github-uses-github-to-build-github/'>How GitHub Uses GitHub to Build
                GitHub</a>
        </p>
        <blockquote>
            I've added something to your code, and I want you to merge it upstream.
        </blockquote>
    </section>

    <section id="workflow">
        <h2>Workflow</h2>
        <ul>
            <li>Clone the repository</li>
            <li>Create a branch</li>
            <li>Write some code (with tests!)</li>
            <li>Publish branch</li>
            <li>Open a pull request back to master</li>
        </ul>
        <aside class="notes">
            GitHub are calling this "GitHub Flow".
            Important aspects: short-lived branches, minimal merges. We shall return to this theme later
        </aside>
    </section>

    <section id="pull-request-description">
        <aside class="notes">
            Here's an example, here James has opened a PR on some of Jeni's code
        </aside>
        <img src='open-development/pull_request_1.png'/>
        <small><a href='https://github.com/theodi/member-directory/pull/72'>https://github.com/theodi/member-directory/pull/72</a>
        </small>
    </section>

    <section id="pull-request-commits">
        <aside class="notes">
            Here we can see the files that have been changed
        </aside>
        <img src='open-development/pull_request_2.png'/>
        <small><a href='https://github.com/theodi/member-directory/pull/72'>https://github.com/theodi/member-directory/pull/72</a>
        </small>
    </section>

    <section id="pull-request-files">
        <aside class="notes">
            And here are the actual changes within the code, all highlighted
        </aside>
        <img src='open-development/pull_request_3.png'/>
        <small><a href='https://github.com/theodi/member-directory/pull/72'>https://github.com/theodi/member-directory/pull/72</a>
        </small>
    </section>

    <section id="pull-request-discussion">
        <aside class="notes">
            A PR is not just about "here's my code", it's also way to facilitate a discussion. We usually open a PR on
            the first commit, and as you can see here, a further commit has been made halfway through, with a
            description of what's changed. It's like a comment thread, but without the shouting.
        </aside>
        <img src='open-development/pull_request_4.png'/>
        <small><a href='https://github.com/theodi/member-directory/pull/72'>https://github.com/theodi/member-directory/pull/72</a>
        </small>
    </section>

    <section id="pull-request-merge">
        <aside class="notes">
            And then the PR is merged. And this is the last place any humans touch the code, but more of that later...
        </aside>
        <img src='open-development/pull_request_5.png'/>
        <small><a href='https://github.com/theodi/member-directory/pull/72'>https://github.com/theodi/member-directory/pull/72</a>
        </small>
    </section>
</section>

<section>
    <section id="cucumber">
        <aside class="notes">
            James
        </aside>
        <h2>Behaviour-Driven Development</h2>
        <ul>
            <li>Natural-language behaviour definition</li>
            <li>Written with stakeholders</li>
            <li>Clearly expresses desired behaviour</li>
        </ul>
    </section>

    <section id="cucumber">
        <img src='open-development/cucumber.png' style='max-height: 500px'/>
        <small><a href='http://cukes.info'>http://cukes.info</a></small>
    </section>

    <section id="relish">
        <img src='open-development/relish.png' style='max-height: 500px'/>
        <small><a href='https://relishapp.com/theodi'>https://relishapp.com/theodi</a></small>
    </section>
</section>

<section id="robots">
    <h2>Robots</h2>
    <blockquote>All watched over by machines of loving grace</blockquote>
    <small>Richard Brautigan</small>
</section>

<section>
    <section id="continuous-deployment">
        <aside class="notes">
            Sam Continuous deployment has been a Holy Grail for me for a long time, but it's always been too scary to
            attempt. We're very fortunate at the ODI in that we've started from scratch, so this has been baked in from
            the beginning.
        </aside>
        <h2>Continuous Deployment</h2>
    </section>

    <section id="jenkins">
        <aside class="notes">
            Jenkins is our Continuous Integration robot, it checks out the code and runs the tests just the same as we
            would do on our laptops
        </aside>
        <img src='open-development/jenkins.png'/>
        <small><a href='http://jenkins.theodi.org'>http://jenkins.theodi.org</a></small>
    </section>

    <section id="ok-to-merge">
        <aside class="notes">
            And we can now hook it into Github so we can see in the PR that this branch has passing tests
        </aside>
        <img src="open-development/good-to-merge.png"/>
    </section>

    <section id="master-builder">
        <aside class="notes">
            Previously our Jenkins setup was a bit Heath-Robinson, but we recently discovered a lovely tool for managing
            this stuff. So we now have a robot to manage what Jenkins does, and then publish documentation and so on.
            This is a work in progress - it's all a work in progress - and it will do more stuff in the future.

            And we're always flexible - we've recently been trialling Travis, which is CI-as-a-Service.
        </aside>
        <h2>Master Builder</h2>

        <p>
            <small><a href="https://github.com/theodi/master-builder">https://github.com/theodi/master-builder</a>
            </small>
        </p>
        <ul>
            <li>Written using the <a href="https://wiki.jenkins-ci.org/display/JENKINS/Job+DSL+Plugin">Jenkins Job
                DSL</a></li>
            <li>Monitors all branches of all our projects</li>
            <li>Creates all the Jenkins jobs</li>
            <li>Tags selected branches</li>
            <li>Also does:
                <ul>
                    <li>Coverage</li>
                    <li>Documentation</li>
                    <li>Github status</li>
                    <li>Notifications</li>
                </ul>
            </li>
        </ul>

    </section>

    <section id="cattle-not-pets">
        <aside class="notes">
            So Jenkins has told us that the code is good to go, so we need to get it out into the wild. In the bad
            old days, we would own a bunch of actual servers, which we'd have to look after and care for over a long
            period of time, and deploy to them probably by hand, which is error-prone and unpleasant. This is the
            classic Snowflake anti-pattern. Not any more. Now we have ephemeral cloud servers, and deployment is in the
            hands of the Chef robots.
        </aside>
        <h2>Treat your servers as cattle, not as pets</h2>
        <a href="http://www.flickr.com/photos/pikesley/2879361159/in/photolist-5ortKV-5udMe4-6hXXdM/">
            <img src="open-development/cows.jpg"/>
        </a>

        <p>No more snowflakes!</p>
    </section>

    <section id="chef">
        <aside class="notes">
            We can now describe our infrastructure as code. Executable Infrastructure is a beautiful thing. This ties
            in nicely with the short-lived, frequently-merged branches from the Git Flow model, and it means we can
            deploy to production many, many times per day without ever thinking about it. As soon as the PR is merged,
            the robots take over.

            Deployments should not be like going to the dentist - we've done this on a Friday afternoon without any real
            terror.
        </aside>
        <h2>Chef</h2>

        <p>
            <a href='http://www.opscode.com/chef/'>http://www.opscode.com/chef/</a>
        </p>
        <ul>
            <li>Infrastructure == code</li>
            <li>Continuous deployment</li>
            <li>Deploys latest release</li>
            <li>Holds the keys!</li>
            <li>Code live in 10 minutes</li>
            <li>No human intervention</li>
            <li><a href='http://www.cucumber-chef.org/'>cucumber-chef</a></li>
        </ul>
    </section>

    <section id="cucumber-chef">
        <aside class="notes">
            And it's all testable. Test-driven Executable Infrastructure is an even more beautiful thing. This describes
            what I want this server to do, which provides a lovely safety-harness when I'm making changes.

            If your machines are Identical, Repeatable and Disposable, you'll have a good time.
        </aside>
        <img src="open-development/cuke-chef.png"/>
    </section>
</section>

<section>
    <section>
        <aside class="notes">
            James
        </aside>
        <h2>Code Maintenance </h2>
    </section>

    <section id="codeclimate">
        <img src='open-development/codeclimate.png' style='max-height: 500px'/>
        <small><a href='https://codeclimate.com/github/theodi/open-orgn-services'>https://codeclimate.com/github/theodi/open-orgn-services</a>
        </small>
    </section>

    <section id="codeclimate-security">
        <img src="open-development/codeclimate-security-alert.png"/>
    </section>

    <section id="gemnasium">
        <img src='open-development/gemnasium.png' style='max-height: 500px'/>
        <small><a href='http://gemnasium.com/theodi'>http://gemnasium.com/theodi</a></small>
    </section>
    <section id="bimble">
        <h2>Bimble</h2>

        <p>
            <img src='open-development/bimble_pr.png'/>
            <small><a href='https://github.com/theodi/bimble'>https://github.com/theodi/bimble</a></small>
        </p>
    </section>
</section>

<section id='open-communication'>
    <h2>Open Communication</h2>
</section>

<section id="blogging">
    <aside class="notes">
        Sam

        There _should_ be a tech team blog post every week, and we also publish weeknotes, wherein we describe what
        we've been up to and what new things we've discovered.
    </aside>

    <h2>Blogging</h2>

    <p>
        <a href='http://theodi.org/blog'>http://theodi.org/blog</a>
    </p>
    <ul>
        <li>Regular blog schedule</li>
        <li>Tech team weeknotes</li>
    </ul>
</section>

<section>
    <section id="irc">
        <aside class="notes">
            We also have a completely open IRC channel. This is where we work (because we're often a distibuted team)
            but this is open to anybody. Here you can see two people who don't actually work at the ODI having a
            discussion that's only tangentially-related to ODI stuff.
        </aside>
        <img src='open-development/irc.png' style='max-height: 500px'/>
        <a href='irc://irc.freenode.net/theodi'>irc.freenode.net #theodi</a>
    </section>

    <section id="odibot">
        <aside class="notes">
            We also have a robot in the IRC channel, who can remind us when stand-ups are happening, describe things
            that have happened in Github, and show us pictures of Admiral Ackbar. He will do more in the future.
        </aside>
        <img src='open-development/odibot.png'/>
    </section>
</section>

<section>
    <section id="dashboards">
        <aside class="notes">
            James
        </aside>
        <h2>Dashboards</h2>
    </section>
    <section id="dashing">
        <img src="open-development/dashing.png"/>
        <small><a href='http://dashboards.theodi.org/'>http://dashboards.theodi.org/tech</a></small>
    </section>
</section>

<section>
    <section id='open-collaboration'>
        <aside class="notes">
            Sam
        </aside>
        <h2>Open Collaboration</h2>
    </section>

    <section id="certificate-issues">
        <aside class="notes">
            So all of this working in the open allows things like this to happen. This came about when the certificate
            was not much more than an idea on Jeni's laptop
        </aside>
        <img src='open-development/certificate-issues.png'/>
        <small><a href='https://github.com/theodi/open-data-certificate/issues'>https://github.com/theodi/open-data-certificate/issues</a>
        </small>
    </section>

    <section id="russian-translation">
        <img src='open-development/russian-translation.png'/>
        <small><a href='https://github.com/theodi/open-data-certificate/issues/24'>https://github.com/theodi/open-data-certificate/issues/24</a>
        </small>
    </section>

</section>

<section id="summary">
    <aside class="notes">
        James
    </aside>

    <h2>Working In The Open</h2>
    <ul>
        <li>stops us cutting corners</li>
        <li>catches more mistakes</li>
        <li>gives better results</li>
        <li>helps us find collaborators</li>
        <li>gives something back</li>
        <li>is fun!</li>
    </ul>
</section>

<section id='naked'>
    <aside class="notes">
        James
    </aside>

    <blockquote>
        ... being Open By Default is exhilarating. But I suspect
        that streaking at a cricket match is exhilarating, too.
        And sometimes it does feel like we're running around naked...
    </blockquote>
    <small>Sam Pikesley - <a href='http://www.theodi.org/blog/better-living-through-openness'>http://www.theodi.org/blog/better-living-through-openness</a>
    </small>
</section>

{% include odi_tech_team.html %}
