---
layout: odi
title: Open Data in a Day
description: 
author: Dr David Tarrant
twitter: davetaz
---

{% include odi_logo.html %}

{% include training_sets/introduce_yourselves.html %}

{% include standard_title.html %}

<section class="odi-purple left">
	<h2 class="right-title" style="color: white; font-size: 52px;">Today</h2>
	<impact style="bottom: 150px;">
	<ul style="margin-left: 30px; font-size: 70px; line-height: 2em; list-style-type: none;">
		<li>Introducing Open Data</li>
		<li>Law, licensing and best practice</li>
		<li>Making open data work for you</li>
	</ul>
	</impact>
</section>

<section class="odi-purple left">
	<h2 class="right-title" style="color: white; font-size: 52px;">Aim: Introducing open data</h2>
	<impact style="font-size: 80px;">
	Provide a good foundation in the principals of open data and key examples of impact.
	</impact>
</section>

<section class="odi-purple left">
	<h2 class="right-title" style="color: white; font-size: 52px;">Outcomes</h2>
	<impact style="bottom: 150px;">
	<ul style="margin-left: 30px; font-size: 60px; line-height: 1.5em; list-style-type: none;">
		<li>Define open data</li>
		<li>Identify the potential applications, benefits and risks</li>
		<li>Describe the business models evolving around open data</li>
		<li>Understand the future of open data globally</li>
	</ul>
	</impact>
</section>

<section class="odi-dynamic left">
	<h2>Exercise</h2>
	<p class="odi-question">
	What is Data?
	</p>
	<p class="odi-question" style="margin-top: 0px; font-size: 60px; font-style: italic; color: #bfbfbf;">
	5 minutes
	</p>
</section>

{% include training_sets/definition_of_data.html %}

<section class="odi-dynamic left">
	<h2>Exercise</h2>
	<p class="odi-question">
	What is Open Data?
	</p>
	<p class="odi-question" style="margin-top: 0px; font-size: 60px; font-style: italic; color: #bfbfbf;">
	3 minutes
	</p>
</section>

{% include training_sets/definition_review.html %}

<section class="odi-purple left">
	<h2 class="right-title" style="color: white; font-size: 52px;">Outcomes</h2>
	<impact style="bottom: 150px;">
	<ul style="margin-left: 30px; font-size: 60px; line-height: 1.5em; list-style-type: none;">
		<li style="color: #bfbfbf;">Define open data</li>
		<li>Identify the potential applications, benefits and risks</li>
		<li style="color: #bfbfbf;">Describe the business models evolving around open data</li>
		<li style="color: #bfbfbf;">Understand the future of open data globally</li>
	</ul>
	</impact>
</section>

<section class="odi-purple left">
	<impact>Data is the raw material of the new industrial revolution
	<br/>
	<smallest style="float: right;"> - Francis Maude, UK MP</smallest>
	</impact>
</section>

<section class="left">
	<h2>Justifications</h2>
	<table>
		<tr style="display: none;">
			<th>Left wing</th>
			<th>Right wing</th>
		</tr>
		<tr style="font-size: 2em; line-height: 1.4em;">
			<td style="border-right: 1px solid gray; text-align: center;">
			<br/>
			Trust and Transparency
			<br/>
			&nbsp;
			</td>
			<td style="text-align: center;">
			<br/>
			Enabling the economy
			<br/>
			&nbsp;
			</td>
		</tr>
	</table>
</section>

{% include training_sets/key_points_benefits_stack.html %}

<section class="odi-purple left">
	<h2 class="right-title" style="color: white; font-size: 52px;">Outcomes</h2>
	<impact style="bottom: 150px;">
	<ul style="margin-left: 30px; font-size: 60px; line-height: 1.5em; list-style-type: none;">
		<li style="color: #bfbfbf;">Define open data</li>
		<li style="color: #bfbfbf;">Identify the potential applications, benefits and risks</li>
		<li>Describe the business models evolving around open data</li>
		<li style="color: #bfbfbf;">Understand the future of open data globally</li>
	</ul>
	</impact>
</section>

<section class="odi-dynamic left">
	<h2>Exercise</h2>
	<p class="odi-question">
	In your groups identify:
	<ul style="margin-left: 30px; font-size: 60px; line-height: 1.5em; list-style-type: none;">
		<li>3 oppotunities for open data in business</li>
		<li>3 threats...</li>
		<li>The 1 thing you would do</li>
	</ul>
	</p>
</section>

<section data-state="stack">
<section data-state="no-footer">
        <iframe src="//landmark.co.uk" width="100%" height="90%"></iframe>
	<p>http://landmark.co.uk</p>
</section>
<section data-state="no-footer">
        <iframe src="//theodi.org/lunchtime-lectures/friday-lunchtime-lecture-changing-tracks-with-hs2-open-data" width="100%" height="90%"></iframe>
</section>
</section>

<section class="odi-dynamic left">
	<h2>Switch point</h2>
	<p style="margin-top: 200px;">
	Slides are in powerpoint for the moment (boo!)
	</p>
</section>


<section class="odi-purple left">
	<h2 class="right-title" style="color: white; font-size: 52px;">Outcomes</h2>
	<impact style="bottom: 150px;">
	<ul style="margin-left: 30px; font-size: 60px; line-height: 1.5em; list-style-type: none;">
		<li style="color: #bfbfbf;">Define open data</li>
		<li style="color: #bfbfbf;">Identify the potential applications, benefits and risks</li>
		<li style="color: #bfbfbf;">Describe the business models evolving around open data</li>
		<li>Understand the future of open data globally</li>
	</ul>
	</impact>
</section>

{% include training_sets/why_now.html %}


<section class="odi-purple">
<impact>Data is a means, not an end.</impact>
</section>

<section class="odi-dynamic left">
	<h2>Task</h2>
	<p class="odi-question">
	What is the end?
	</p>
	<p class="odi-question" style="margin-top: 0px; font-size: 60px; font-style: italic; color: #bfbfbf;">
	Why are you opening data?
	</p>
</section>

<section class="odi-purple left">
	<h2 class="right-title" style="color: white; font-size: 52px;">Outcomes</h2>
	<impact style="bottom: 150px;">
	<ul style="margin-left: 30px; font-size: 60px; line-height: 1.5em; list-style-type: none;">
		<li>Define open data</li>
		<li>Describe a number of key open data stories</li>
		<li>Evaluate the challenges facing open data</li>
		<li>Understand the future of open data globally</li>
	</ul>
	</impact>
</section>

{% include training_sets/olympic_slogan.html %}

{% include odi_logo_with_text.html %}
