---
layout: odi
title: Open Data Now (Nov 2015)
description: Open Data Now (Nov 2015)
author: Dr David Tarrant
twitter: davetaz
---
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>

{% include odi_logo.html %}

{% include standard_title.html %}

<section class="odi-purple left">
	<h2 class="right-title" style="color: white; font-size: 52px;">Aim: Introducing open data</h2>
	<impact style="font-size: 80px;">
	Provide a good foundation in the principals of open data and how it can benefit people, governments and businesses.
	</impact>
</section>

{% include training_sets/definition_review_taster.html %}

<section data-state="no-footer" class="left">
	<heading><h2 class="invert" style="margin-left: 30px; padding-left: 23px; padding-bottom: 10px; padding-top: 10px; padding-right: 23px; margin-bottom: 10px">Share</h2></heading>
        <iframe src="https://permid.org/" style="width: 100%; height: 700px;"></iframe>
</section>

<section data-state="stack">
	<section class="left">
		<heading><h2 class="invert" style="margin-left: 30px; padding-left: 23px; padding-bottom: 10px; padding-top: 10px; padding-right: 23px; margin-bottom: 10px">Making data open</h2></heading>
		<figure style="width: 50%; max-height: 80%; margin-left: auto; margin-right: auto;">
                <img src="images/cc-by-sa.png" style="width: 100%;" alt="cc license"/>
	        </figure>
	</section>
	<section class="left">
		<heading><h2 class="invert" style="margin-left: 30px; padding-left: 23px; padding-bottom: 10px; padding-top: 10px; padding-right: 23px; margin-bottom: 10px">Licensing matrix</h2></heading>
		<figure style="width: 100%; height:80%; margin-left: auto; margin-right: auto;">
                <img src="images/cc-matrix.png" style="width: 100%;" alt="cc license"/>
	        </figure>
	</section>
	<section data-state="no-footer" class="left">
	        <figure style="text-align: center; width: 100%;"><img src="images/od_challenges/od_licensing.png" style="border:none; width: 100%"/></figure>
	        <p style="text-align:center; font-size: smaller;">Credit: Thomas Levine</p>
</section>
</section>

<section data-state="no-footer">
        <iframe src="//player.vimeo.com/video/110800848" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/110800848">What can open data do for you?</a> from <a href="http://vimeo.com/theodiuk">Open Data Institute</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
</section>

<section data-state="stack">
	<section class="left" data-state="no-footer">
		<figure style="width: 100%; max-height: 80%; margin-left: auto; margin-right: auto;">
                <img src="images/odcs.png" style="width: 100%;" alt="ODCS"/>
                </figure>
	</section>
	<section class="left" data-state="no-footer">
		<figure style="width: 100%; max-height: 80%; margin-left: auto; margin-right: auto;">
                <img src="images/odcs-winners.png" style="width: 100%;" alt="ODCS"/>
                </figure>
	</section>
	<section data-state="no-footer">
		<figure style="width: 100%; max-height: 80%; margin-left: auto; margin-right: auto;">
                <img src="images/foodtrade.png" style="width: 100%;" alt="Foodtrade"/>
                </figure>
	</section>
	<section class="left">
		<heading><h2 class="invert" style="margin-left: 30px; padding-left: 23px; padding-bottom: 10px; padding-top: 10px; padding-right: 23px; margin-bottom: 10px">5 to 10-fold return</h2></heading>
		<ul style="margin-left: 30px; font-size: 60px; line-height: 1.5em;">
			<li>A return of £5 - £10 to the UK economy, for every £1 invested, this equates to a generation of £5.3m to £10.8m (GVA)</li>
<li>The creation of 75 to 141 jobs</li>
<li>Potential to generate further significant wider social and environmental impacts</li>
		</ul>
	</section>
</section>

<section data-state="stack">
<section class="left">
        <heading><h2 class="invert" style="margin-left: 30px; padding-left: 23px; padding-bottom: 10px; padding-top: 10px; padding-right: 23px; margin-bottom: 10px">Improving services</h2></heading>
        <p style="display: inline-block; position: absolute; font-size: 40px; width: 47%; margin-left: 20px; text-align: center;">
        <img src="images/cross_sector_benefits_stack/trains.png" style="display: block; height: 400px; margin-left: auto; margin-right: auto; margin-bottom: 1em;" alt="trains"/>
        Helps us get from A to B quicker</p>
        <p style="display: inline-block; float: right; font-size: 40px; width: 47%; text-align: center; margin-right: 1em;">Open data can help make decision that affect our safety
        <a target="_blank" href="http://london-fire.labs.theodi.org"><img src="images/cross_sector_benefits_stack/image13.png" style="margin-top: 1em;" height="300px" alt="fire"/></a></p>
</section>
<section data-state="no-footer">
        <iframe src="http://www.realtimetrains.co.uk/search/advanced/KGX" style="width: 100%; height: 700px;"></iframe>
</section>
<section data-state="no-footer">
        <iframe src="http://www.realtimetrains.co.uk/maps/areas/swml/6" style="width: 100%; height: 700px;"></iframe>
</section>
<section class="left">
        <div style="position: absolute; top 0px; right: 10px; font-size: 12px;" onclick='document.getElementById("rail_quote").style.display = "block";'>Show quote</div>
        <heading><h2 class="invert" style="margin-left: 30px; padding-left: 23px; padding-bottom: 10px; padding-top: 10px; padding-right: 23px; margin-bottom: 10px">Impact and communication</h2></heading>/
        <figure style="width: 50%;">
                <img src="images/cross_sector_benefits_stack/bbc_rail_news.png" style="width: 100%;" alt="BBC News Rail Disruption"/>
        </figure>
	<iframe src="sw_widget.html" style="width: 420px; position: absolute; right: 100px; top: 100px;"></iframe>
        <div id="rail_quote" style="display: none;
    position: absolute;
    top: 200px;
    width: 80%;
    text-align: center;
    margin-left: 100px;
    z-index: 20;
    background: white;
    border: 1px solid black;
    padding: 1em;
    border-radius: 10px;">
                <p>"Passengers need informtaion as quickly as possible - ideally before leaving home. <em>Only 17% knew</em> about the disruption before arriving at the station."</p>
                <p>"Passengers now receive information from a range of sources, so train companies must ensure that staff at stations and on trains are ahead of the information game."</p>
        </div>
</section>
</section>

{% include training_sets/why_now_taster.html %}

{% include training_sets/olympic_slogan.html %}

{% include odi_logo_with_text.html %}
