---
layout: odi
title: Open Data Benefits
description: 
author: Dr David Tarrant
twitter: davetaz
---


{% include odi_logo.html %}

{% include standard_title.html %}

<section class="odi-red left">
	<impact>Data is the raw material of the new industrial revolution
	<br/>
	<smallest style="float: right;"> - Francis Maude MP</smallest>
	</impact>
</section>

<section class="left">
	<h2>Justifications</h2>
	<table>
		<tr style="display: none;">
			<th>Left wing</th>
			<th>Right wing</th>
		</tr>
		<tr style="font-size: 2em; line-height: 1.4em;">
			<td style="border-right: 1px solid gray; text-align: center;">
			<br/>
			Trust and Transparency
			<br/>
			&nbsp;
			</td>
			<td style="text-align: center;">
			<br/>
			Enabling the economy
			<br/>
			&nbsp;
			</td>
		</tr>
	</table>
</section>
<section class="left" style="background-image: url('images/receipts.jpg'); background-size: 100%;">
	<h2>MPs Expenses</h2>
	<figure style="text-align: center; width:100%;"><img src="images/expenses.png" style="height: 500px;"/></figure>
</section>
<section class="left">
	<h2>McKinsey Report</h2>
	<p style="font-style: italic;">‘$3 trillion potential annual value enabled by open data in seven domains…. Value can arise in a number of ways, including equipping workers with the skills to raise productivity, allowing marketers to micro-segment populations more successfully, and boosting performance across segments by sharing benchmarks, market data, and best practice information…’</p>
	<br/>
	<p>Open Data: Unlocking performance with innovation and liquid information / Oct 2013</p>
</section>
<section class="left odi-circles">
	<h2>EU Benefit</h2>
	<ul class="shortlist" style="font-size: 1.4em;">
	<li>140bn euro per year benefit in EU</li>
	<li>Cutting transaction costs</li>
	<li>More Jobs</li>
	<li>More consumers</li>
	</ul>
	<br/><br/>
	<p style="font-size: 0.6em"><a href="http://epsiplatform.eu/content/review-psi-re-use-studies-published">http://epsiplatform.eu/content/review-psi-re-use-studies-published</a></p>
</section>
<section class="center">
	<figure style="text-align: center; width:100%;"><img src="http://www.payneins.com/insurance-providers/the_climate_corporation_logo.jpg" style="height: 500px;"/></figure>
</section>
{% include training_sets/cross_sector_benefits_stack.html %}

{% include training_sets/olympic_slogan.html %}

{% include odi_logo_with_text.html %}
