---
layout: odi
title: Delivering impact with open data
description: 
author: Dr David Tarrant
twitter: davetaz
---


{% include odi_logo.html %}

<section class="odi-polygons left">
	<h2>Hello</h2>
	<ul class="no-bullet" style="font-size: 1.6em; line-height: 1.8em;">
	<li>Who are you?</li>
	<li>What do you do?</li>
	<li>What was your first experience of open data?</li> 
	<li>What do you hope to get out of today?</li>
	</ul>	
</section>

{% include standard_title.html %}

<section class="odi-purple left">
	<h2 class="right-title" style="color: white; font-size: 52px;">Aim</h2>
	<impact style="font-size: 80px;">
	Provide a foundation on which to build a long term successful open data initiative. 
	</impact>
</section>

<section class="odi-purple left">
	<h2 class="right-title" style="color: white; font-size: 52px;">Outcomes</h2>
	<impact style="bottom: 150px;">
	<ul style="margin-left: 30px; font-size: 60px; line-height: 1.5em; list-style-type: none;">
		<li>Define open data</li>
		<li>Describe a number of key open data stories</li>
		<li>List the key factors required for a successful open data initiative</li>
		<li>Evaluate the opportunities for open data in Malaysia</li>
	</ul>
	</impact>
</section>

<section class="odi-dynamic left">
	<h2>Exercise</h2>
	<p class="odi-question">
	What is Data?
	</p>
	<p class="odi-question" style="margin-top: 0px; font-size: 60px; font-style: italic; color: #bfbfbf;">
	5 minutes
	</p>
</section>

{% include training_sets/definition_of_data_short.html %}

<section class="odi-dynamic left">
	<h2>Exercise</h2>
	<p class="odi-question">
	What is Open Data?
	</p>
	<p class="odi-question" style="margin-top: 0px; font-size: 60px; font-style: italic; color: #bfbfbf;">
	3 minutes
	</p>
</section>

{% include training_sets/definition_of_open_okf.html %}

{% include training_sets/definition_of_open_datagovuk.html %}

{% include training_sets/definition_of_open_odi_new.html %}

<section data-state="no-footer">
	<iframe src="//player.vimeo.com/video/110800848" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/110800848">What can open data do for you?</a> from <a href="http://vimeo.com/theodiuk">Open Data Institute</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
</section>

<section class="odi-purple left">
	<impact>Data is the raw material of the new industrial revolution
	<br/>
	<smallest style="float: right;"> - Francis Maude, UK MP</smallest>
	</impact>
</section>

<section class="left">
	<h2>From the top</h2>
	<span id="quote">
	<img src="images/quote/Obama.png" alt="Obama" style="padding: 20px; display: inline-block; width: 250px;"></img>
	<p style="display: inline-block; vertical-align: top; width: 70%; padding-top: 20px;"><i>"Openness with strengthen our democracy and promote efficiency and effectiveness in Government"</i><br/><b>President Obama</b></p>
	</span>
	<span id="quote">
	<img src="images/quote/Kuneva.png" alt="Kuneva" style="padding: 20px; display: inline-block; width: 250px;"></img>
	<p style="display: inline-block; vertical-align: top; width: 70%; padding-top: 20px;"><i>"Data is the new oil of the Internet and the new currency of the digital world"</i><br/><b>European Consumer Commissioner, Maglena Kuneva</b></p>
	</span>
	<span id="quote">
	<img src="images/quote/Cameron.png" alt="Cameron" style="padding: 20px; display: inline-block; width: 250px;"></img>
	<p style="display: inline-block; vertical-align: top; width: 70%; padding-top: 20px;"><i>"Open Data is at the heart of my agenda for Government"</i><br/><b>UK Prime Minister, David Cameron</b></p>
	</span>
</section>

<section class="center">
	<p style="padding: 80px;"><i>I believe we can build a Web that truly is for everyone; one that is accessible to all, from any device, and one that empowers all of us to achieve our dignity, rights and potential as humans</i><br/><br/><br/><b>Inventor of the Web, Sir Tim Berners-Lee</b></p>
</section>

{% include training_sets/olympic_slogan.html %}

<section data-state="no-footer">
	<figure style="text-align: center; width: 100%;"><img src="images/g8_part1.png" style="border:none; width: 100%"/></figure>
</section>

<section data-state="no-footer">
	<h2>Improving education</h2>
        <iframe src="//player.vimeo.com/video/97404977" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/97404977">Open Data Burkina Faso: Our schools, our data</a> from <a href="http://vimeo.com/theodiuk">Open Data Institute</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
</section>

{% include training_sets/perscribing_analytics.html %}

<section data-state="no-footer" class="left">
        <h2>Building the economy</h2>
        <figure class="top-right">
                <img src="images/cross_sector_benefits_stack/the_climate_corporation_logo.png" style="height: 200px;"/>
        </figure>
        <figure style="text-align: center; width:100%; padding-top: 70px;">
        <img src="images/cross_sector_benefits_stack/climate_corp.png"  style="display: block; width: 100%; margin-left: auto; margin-right: auto;" alt="CC Website"/>
        </figure>
</section>

<section data-state="stack">
<section data-state="no-footer">
<h2>Saving lives</h2>
<iframe width="420" height="315" src="//www.youtube.com/embed/e89Tqr75mMw" frameborder="0" allowfullscreen></iframe>
</section>
<section class="left">
        <h2>Saving lives</h2>
        <img src="images/cross_sector_benefits_stack/haiti_before.jpg" style="display: block; height: 400px; margin-left: 3em; margin-right: auto; margin-bottom: 1em; display: inline-block;" alt="haiti_before"/>
        <img src="images/cross_sector_benefits_stack/haiti_after.jpg" style="display: block; height: 400px; margin-left: 2em; margin-right: 1em; margin-bottom: 0em; display: inline-block;" alt="haiti_before"/>
</section>
</section>

<section data-state="stack">
<section class="left">
        <div align="right" style="margin-right: 50px;">
                <h2>Building smarter cities</h2>
        </div>
        <p style="display: inline-block; position: absolute; font-size: 40px; width: 47%; margin-left: 20px; text-align: center;">
        <img src="images/cross_sector_benefits_stack/trains.png" style="display: block; height: 400px; margin-left: auto; margin-right: auto; margin-bottom: 1em;" alt="trains"/>
        Helps us get from A to B quicker</p>
        <p style="display: inline-block; float: right; font-size: 40px; width: 47%; text-align: center; margin-right: 1em;">Open data can help make decision that affect our safety
        <a target="_blank" href="http://london-fire.labs.theodi.org"><img src="images/cross_sector_benefits_stack/image13.png" style="margin-top: 1em;" height="300px" alt="fire"/></a></p>
</section>
<section class="left">
        <div style="position: absolute; top 0px; right: 10px; font-size: 12px;" onclick='document.getElementById("rail_quote").style.display = "block";'>Show quote</div>
        <h2>Impact and communication</h2>
        <figure style="width: 50%;">
                <img src="images/cross_sector_benefits_stack/bbc_rail_news.png" style="width: 100%;" alt="BBC News Rail Disruption"/>
        </figure>
        <iframe src="sw_widget.html" style="width: 420px; position: absolute; right: 100px; top: 100px;"></iframe>
        <div id="rail_quote" style="display: none;
    position: absolute;
    top: 200px;
    width: 80%;
    text-align: center;
    margin-left: 100px;
    z-index: 20;
    background: white;
    border: 1px solid black;
    padding: 1em;
    border-radius: 10px;">
                <p>"Passengers need informtaion as quickly as possible - ideally before leaving home. <em>Only 17% knew</em> about the disruption before arriving at the station."</p>
                <p>"Passengers now receive information from a range of sources, so train companies must ensure that staff at stations and on trains are ahead of the information game."</p>
        </div>
</section>
<section data-state="no-footer">
        <iframe src="http://london-fire.labs.theodi.org/map.html" style="width: 100%; height: 700px;"></iframe>
</section>
</section>

<section class="odi-purple left">
	<impact>What are the key stories in Malaysia?</impact>
</section>

<section class="odi-purple left">
	<h2 class="right-title" style="color: white; font-size: 52px;">Outcomes</h2>
	<impact style="bottom: 150px;">
	<ul style="margin-left: 30px; font-size: 60px; line-height: 1.5em; list-style-type: none;">
		<li style="color: #bfbfbf;">Define open data</li>
		<li style="color: #bfbfbf;">Describe a number of key open data stories</li>
		<li>List the key factors required for a successful open data initiative</li>
		<li>Evaluate the opportunities for open data in Malaysia</li>
	</ul>
	</impact>
</section>



<section class="odi-dynamic left">
	<h2>Exercise</h2>
	<p class="odi-question">
	What factors are key in a successful open data initiative?
	</p>
	<p class="odi-question" style="margin-top: 0px; font-size: 60px; font-style: italic; color: #bfbfbf;">
	5 minutes
	</p>
</section>

<section data-state="stack">
<section>
        <h2>Measuring success?</h2>
        <figure style="text-align: center">
                <img src="images/barometer/image34.png" height="500px" alt="Barometer"></img></br>
                <a href="http://theodi.github.io/open-data-barometer-viz/">http://theodi.github.io/open-data-barometer-viz/</a>
        </figure>
</section>
<section data-state="no-footer">
        <iframe src="http://theodi.github.io/open-data-barometer-viz/map.html" style="width: 100%; height: 600px;"></iframe>
</section>
<section data-state="no-footer">
	<h2>Malaysia in the 2014 Batometer</h2>
	<p>The content of this slide is under embargo.</p>
</section>
</section>

{% include training_sets/change_steps.html %}

<section class="odi-dynamic left">
	<h2>Publication phases</h2>
	<p class="odi-logo" style="font-size: 60px;"><b>Phase 1:</b> Get the data online, in some form. This will help with the trust and transparency and community building.</p>
	<p class="odi-logo" style="padding-top: 40px; font-size: 60px;"><b>Phase 2:</b> Increase the usability of the data by potentially publishing differently and keeping it up to date.</p>
</section>

<section class="left" style="background-image: url('images/odp/data_gov_xx.png'); background-repeat: no-repeat; background-size: 100%;">
</section>

<section data-state="no-footer">
	<figure style="text-align: center; width: 100%;"><img src="images/g8_part1.png" style="border:none; width: 100%"/></figure>
</section>
<section data-state="no-footer" class="left">
        <figure style="text-align: center; width: 100%;"><img src="images/od_challenges/od_licensing.png" style="border:none; width: 100%"/></figure>
        <p style="text-align:center; font-size: smaller;">Credit: Thomas Levine</p>
</section>

<!--
<section data-state="stack">
<section class="left">
	<h2>The content world</h2>
	<img src="images/odp/copy1.png" style="position: absolute; right: 100px; top: 200px;"/>
</section>
<section class="left">
	<h2>The content world</h2>
	<img src="images/odp/copy2.png" style="position: absolute; right: 100px; top: 200px;"/>
	<p style="margin-top: 200px; font-size: 60px; line-height: 1.5em;">
	You can use it if [green]:
	<ul style="font-weight: bold; line-height: 2em;">
		<li>It's out of copyright (public domain)</li>
	</ul>
	</p>
</section>
<section class="left">
	<h2>The content world</h2>
	<img src="images/odp/copy3.png" style="position: absolute; right: 100px; top: 200px;"/>
	<p style="margin-top: 200px; font-size: 60px; line-height: 1.5em;">
	You can use it if [green]:
	<ul style="font-weight: bold; line-height: 2em;">
		<li>It's out of copyright (public domain)</li>
		<li>Your use is covered by a copyright exception</li>
	</ul>
	</p>
</section>
<section class="left">
	<h2>The content world</h2>
	<img src="images/odp/copy4.png" style="position: absolute; right: 100px; top: 200px;"/>
	<p style="margin-top: 200px; font-size: 60px; line-height: 1.5em;">
	You can use it if [green]:
	<ul style="font-weight: bold; line-height: 2em;">
		<li>It's out of copyright (public domain)</li>
		<li>Your use is covered by a copyright exception</li>
		<li>It's openly licensed</li>
	</ul>
	</p>
</section>
</section>

<section class="odi-dynamic left">
	<h2>Guidelines</h2>
	<figure style="width: 40%; text-align: center; display: inline-block; vertical-align: middle; margin-top: 120px;">
		<img src="images/best_practice_guidelines/image42.png" width="90%" style="border: 0;" alt="Open Data Certificate"></img>
	</figure>
	<figure style="width: 40%; text-align: center; display: inline-block; vertical-align: middle; margin-top: 120px;">
		<img src="images/best_practice_guidelines/stars.png" width="90%" style="border: 0;" alt="5 Stars"><br/>5 Stars</img>
	</figure>
</section>

<section class="left">
	<h2>5-Stars</h2>
	<figure style="width: 100%; text-align: center; display: inline-block; float: left;">
		<img src="images/best_practice_guidelines/image43.png" style="border: 0;" alt="5 Stars"></img>
	</figure>
	<p style="text-align:center; font-size: smaller;"><a target="_blank" href="http://5stardata.info">http://5stardata.info</a></p>
</section>

<section data-state="no-footer">
	<iframe src="http://certificates.theodi.org" style="width: 100%; height: 700px;"></iframe>
</section>
{% include training_sets/change_steps.html %}
-->

<section class="odi-purple" class="left">
<impact>Data is a means, not an end.</impact>
</section>

<section class="odi-polygons left">
	<h2>Questions</h2>
	<ul class="no-bullet" style="font-size: 1.6em; line-height: 1.8em;">
	<li>What can I do personally?</li>
	<li>What would I like the core Open Data team to do to enable me to be the Champion?</li>
	</ul>	
</section>

<section class="odi-dynamic left">
	<h2>Exercise</h2>
	<p class="odi-question">
	What is the end?
	</p>
	<p class="odi-question" style="margin-top: 0px; font-size: 60px; font-style: italic; color: #bfbfbf;">
	What is the opportunity for your organisation?<br/>
	<i>15 mins</i>
	</p>
</section>
<!--
<section class="odi-purple left">
	<h2 class="right-title" style="color: white; font-size: 52px;">Outcomes</h2>
	<impact style="bottom: 150px;">
	<ul style="margin-left: 30px; font-size: 60px; line-height: 1.5em; list-style-type: none;">
		<li style="color: #bfbfbf;">Define open data</li>
		<li style="color: #bfbfbf;">Describe a number of key open data stories</li>
		<li style="color: #bfbfbf;">List the key factors required for a successful open data initiative</li>
		<li>Evaluate the opportunities for open data in Malaysia</li>
	</ul>
	</impact>
</section>

<section class="odi-dynamic left">
	<h2>Exercise</h2>
	<p class="odi-question odi-logo" style="font-size: 60px; margin-top: 50px;">
	In groups of 5, discuss one of the remaining 6 key points and address the following: 
	</p>
	<ul style="line-height: 2em; padding-left: 100px;">
	<li>What is the current state of this activity?</li>
	<li>How could the activity be improved?</li>
	<li>What one simple recomendataion would you make?</li>
	</ul>
</section>

{% include training_sets/change_steps.html %}
-->
<section class="odi-dynamic left">
	<h2>Exercise</h2>
	<p class="odi-question">
	What data assets could be made open to help realise this opportunity?<br/><i>8 mins</i>
	</p>
</section>
<section class="odi-dynamic left">
	<h2>Actions</h2>
	<p class="odi-question">
	What would be your next step?<br/><i>5 mins</i>
	</p>
</section>

{% include training_sets/olympic_slogan.html %}

{% include odi_logo_with_text.html %}
