---
layout: odi
title: Open Data 101
description: 
author: Dr David Tarrant
twitter: davetaz
---

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

{% include odi_logo.html %}

{% include standard_title.html %}

<section class="odi-purple left">
	<h2 class="right-title" style="color: white; font-size: 52px;">Aim: Introducing open data</h2>
	<impact style="font-size: 80px;">
	Provide a good foundation in the principals of open data and how to discover open data. 
	</impact>
</section>

<section class="odi-purple left">
	<h2 class="right-title" style="color: white; font-size: 52px;">Outcomes</h2>
	<impact style="bottom: 150px;">
	<ul style="margin-left: 30px; font-size: 60px; line-height: 1.5em; list-style-type: none;">
		<li>Define open data</li>
		<li>Identify a number of open data sets</li>
		<li>Understand the future of open data globally</li>
		<li>Evaluate the opportunities and challenges</li>
	</ul>
	</impact>
</section>

{% include training_sets/definition_options.html %}

<section class="odi-purple left">
	<h2 class="right-title" style="color: white; font-size: 52px;">Outcomes</h2>
	<impact style="bottom: 150px;">
	<ul style="margin-left: 30px; font-size: 60px; line-height: 1.5em; list-style-type: none;">
		<li style="color: #bfbfbf;">Define open data</li>
		<li>Identify a number of open data sets</li>
		<li style="color: #bfbfbf;">Understand the future of open data globally</li>
		<li style="color: #bfbfbf;">Evaluate the opportunities and challenges</li>
	</ul>
	</impact>
</section>


<section class="odi-purple left">
	<impact>In order for data to be open, it must have an open license.</impact>
</section>

<section class="left odi-circles">
	<h2>Why license?</h2>
	<br/>
	<p style="font-size: 2em;">A license provides <b>clarity</b></p>
	<br/>
	<p style="font-size: 2em; width: 50%;">It sets out exactly what users and re-users are permitted to do with a dataset.</p>
</section>

<section data-state="stack">
<section class="left">
	<h2>The content world</h2>
	<img src="images/quick_law/copyright_protected.png" style="position: absolute; right: 1em; top: 3em; width: 600px;"/>
</section>
<section class="left">
	<h2>The content world</h2>
	<p style="padding-top: 1em;">You can use it if [green]:
	<ul style="line-height: 2em;">
	<li>It's out of copyright [public domain]</li>
	</ul>
	</p>
	<img src="images/quick_law/out_of_copyright.png" style="position: absolute; right: 1em; top: 3em; width: 600px;"/>
</section>
<section class="left">
	<h2>The content world</h2>
	<p style="padding-top: 1em;">You can use it if [green]:
	<ul style="line-height: 2em;">
	<li>It's out of copyright [public domain]</li>
	<li>It's openly licensed</li>
	</ul>
	</p>
	<img src="images/quick_law/openly_licensed.png" style="position: absolute; right: 1em; top: 3em; width: 600px;"/>
</section>
<section class="left">
	<h2>The content world</h2>
	<p style="padding-top: 1em;">You can use it if [green]:
	<ul style="line-height: 2em;">
	<li>It's out of copyright [public domain]</li>
	<li>It's openly licensed</li>
	<li>Your use is covered by a copyright exception</li>
	</ul>
	</p>
	<img src="images/quick_law/copyright_exception.png" style="position: absolute; right: 1em; top: 3em; width: 600px;"/>
</section>
</section>

<section class="left odi-circles">
	<h2>Automatically applies to:</h2>
	<ul style="line-height: 1.5em;">
	<li>literary works</li>
	<li>artistic works</li>
	<li>dramatic works</li>
	<li>musical works</li>
	<li>layouts of works</li>
	<li>sound and film works</li>
	<li>broadcasts</li>
	</ul>
</section>

<section class="left">
	<h2>Automatically applies to:</h2>
	<div align="center" style="width: 100%; font-size: 1.5em; padding-top: 1em;">
	<p style="width: 80%;">Anything where there is an intellectual, creative and original process in creating a thing.</p>
	<br/>
	<p style="width: 80%;">It does not apply when the thing created would be the same whoever created it. <br/>&quot;it's obvious!&quot;</p>
	</div>
</section>

<section data-state="no-footer" class="left">
        <figure style="text-align: center; width: 100%;"><img src="images/od_challenges/od_licensing.png" style="border:none; width: 100%"/></figure>
        <p style="text-align:center; font-size: smaller;">Credit: Thomas Levine</p>
</section>

<section class="odi-dynamic left">
        <h2>Exercise</h2>
        <p class="odi-question">
        Build your own open data license
        </p>
</section>

<section class="left">
	<h2>Some drafting tips</h2>
	<div align="center" style="width: 100%; font-size: 1.5em; padding-top: 1em;">
	<p>&quot;Under this licece you can:&quot;</p>
	<p style="font-size: 1em; color: gray;">[what is permitted?]</p>
	<br/>
	<p>&quot;You must, where you do any of the above:&quot;</p>
	<p style="font-size: 1em; color: gray;">[do you have any restrictions?]</p>
	</div>
</section>

<section data-state="no-footer">
        <iframe src="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" style="width: 100%; height: 700px;"></iframe>
</section>

<section data-state="no-footer">
        <iframe src="http://creativecommons.org/choose/" style="width: 100%; height: 700px;"></iframe>
</section>

<section class="odi-circles left">
        <h2>Open Data?</h2>
	<ul style="margin-left: 30px; font-size: 1.5em; line-height: 2em; list-style-type: none;">
	<li>Twitter: <a href="https://twitter.com/tos" target="_blank">https://twitter.com/tos</a></li>
	<li>Open Corporates: <a href="http://bit.ly/1pii7Rm" target="_blank">http://bit.ly/1pii7Rm</a><br/></li>
	<li>Singapore Gov: <a href="http://bit.ly/1Be2Ctt" target="_blank">http://bit.ly/1Be2Ctt</a><br/></li>
	<li>Flickr: <a href="https://www.flickr.com/search/?q=cat" target="_blank">https://www.flickr.com/search/?q=cat</a></li>
	</ul>
</section>

<section class="odi-purple left">
	<h2 class="right-title" style="color: white; font-size: 52px;">Outcomes</h2>
	<impact style="bottom: 150px;">
	<ul style="margin-left: 30px; font-size: 60px; line-height: 1.5em; list-style-type: none;">
		<li style="color: #bfbfbf;">Define open data</li>
		<li style="color: #bfbfbf;">Identify a number of open data sets</li>
		<li>Understand the future of open data globally</li>
		<li style="color: #bfbfbf;">Evaluate the opportunities and challenges</li>
	</ul>
	</impact>
</section>

{% include training_sets/why_now.html %}

<section class="odi-purple left">
	<h2 class="right-title" style="color: white; font-size: 52px;">Outcomes</h2>
	<impact style="bottom: 150px;">
	<ul style="margin-left: 30px; font-size: 60px; line-height: 1.5em; list-style-type: none;">
		<li style="color: #bfbfbf;">Define open data</li>
		<li style="color: #bfbfbf;">Identify a number of open data sets</li>
		<li style="color: #bfbfbf;">Understand the future of open data globally</li>
		<li>Evaluate the opportunities and challenges</li>
	</ul>
	</impact>
</section>

{% include training_sets/od_challenges.html %}

<section class="odi-purple">
<impact>Data is a means, not an end.</impact>
</section>

<section class="odi-dynamic left">
	<h2>COMP6214</h2>
	<p class="odi-question">
	What is the end?
	</p>
	<p class="odi-question" style="margin-top: 0px; font-size: 60px; font-style: italic; color: #bfbfbf;">
	What benefit can open data truly bring?
	</p>
</section>

{% include odi_logo_with_text.html %}
