---
layout: odi
title: Introducing Open Data
description: 
author: Dr David Tarrant
twitter: davetaz
---


{% include odi_logo.html %}

{% include standard_title.html %}

<section class="odi-circles left">
	<h2>Overview</h2>
	<ul style="margin-left: 30px; font-size: 48px; line-height: 1.8; list-style-type: none;">
		<li style="margin-left: 60px;">Defining open data</li>
		<li style="margin-left: 120px;">&nbsp;</li>
		<li style="margin-left: 180px;">Open data vs data</li>
		<li style="margin-left: 240px;">&nbsp;</li>
		<li style="margin-left: 300px;">Having trust in open data</li>
	</ul>
</section>

<section class="odi-dynamic left">
	<h2>Exercise</h2>
	<p class="odi-question">
	What is Data? <br/><br/><small>According to the experts...</small>
	</p>
</section>

{% include training_sets/definition_of_data.html %}

<section class="odi-dynamic left">
	<h2>Exercise</h2>
	<p class="odi-question">
	What is Open Data?
	</p>
</section>

{% include training_sets/definition_of_open_okf.html %}

{% include training_sets/definition_of_open_okf_stack.html %}

{% include training_sets/quick_law.html %}

{% include training_sets/best_practice_guidelines.html %}

<section class="odi-circles left">
	<h2>Recap</h2>
	<ul style="margin-left: 30px; font-size: 48px; line-height: 1.8; list-style-type: none;">
		<li style="margin-left: 60px;">Defining open data</li>
		<li style="margin-left: 120px;">&nbsp;</li>
		<li style="margin-left: 180px;">Open data vs data</li>
		<li style="margin-left: 240px;">&nbsp;</li>
		<li style="margin-left: 300px;">Having trust in open data</li>
	</ul>
</section>

{% include training_sets/olympic_slogan.html %}

{% include odi_logo_with_text.html %}
