---
layout: odi
title: Open Data - Up to date
description: 
author: Dr David Tarrant
twitter: davetaz
---

{% include odi_logo.html %}

{% include standard_title.html %}

<section class="odi-green left">
	<h2 class="right-title" style="color: white; font-size: 52px;">Aim</h2>
	<impact style="font-size: 80px;">
	To get up to speed on open data activities and learn what is the cutting edge.
	</impact>
</section>

<section class="odi-green left">
	<h2 class="right-title" style="color: white; font-size: 52px;">Outcomes</h2>
	<impact style="bottom: 150px;">
	<ul style="margin-left: 30px; font-size: 40px; line-height: 1.5em; list-style-type: none;">
		<li>Define the aim of your open data initiative</li>
		<li>Understand the impact of open data and measures of success</li>
		<li>Understand the key role of communities</li>
		<li>Describe a number of key turning points in open data initiatives</li>
		<li>Create a list of do's and don'ts for open data initiatives</li>
	</ul>
	</impact>
</section>

<section class="odi-dynamic left">
	<h2>Exercise</h2>
	<p class="odi-question">
	How do you convince people about open data?
	</p>
	<p class="odi-question" style="margin-top: 0px; font-size: 60px; font-style: italic; color: #bfbfbf;">
	What is the aim?
	</p>
</section>

<section data-state="no-footer">
        <iframe src="//player.vimeo.com/video/110800848" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/110800848">What can open data do for you?</a> from <a href="http://vimeo.com/theodiuk">Open Data Institute</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
</section>

{% include training_sets/McKinsey.html %}

<section class="odi-dynamic left">
	<h2>Exercise</h2>
	<p class="odi-question">
	What benefits of open data are we missing?
	</p>
</section>

<section class="odi-bubbles left">
	<h2>Elephant in the room</h2>
	<p class="odi-question">
	Transparency
	</p>
	<p class="odi-question" style="margin-top: 0px; font-size: 60px; font-style: italic; color: #bfbfbf;">
	Does open data constitute open government?
	</p>
</section>

<section class="left" data-state="no-footer">
	<h2>Culture</h2>
        <iframe src="//weneedus.org" width="100%" height="90%"></iframe><p>We Need Us - Commissioned by The Space and The Open Data Institute</p>
</section>

<section class="left">
	<h2>Justifications</h2>
	<table>
		<tr style="display: none;">
			<th>Left wing</th>
			<th>Right wing</th>
		</tr>
		<tr style="font-size: 2em; line-height: 1.4em;">
			<td style="border-right: 1px solid gray; text-align: center;">
			<br/>
			Trust and Transparency
			<br/>
			&nbsp;
			</td>
			<td style="text-align: center;">
			<br/>
			Enabling the economy
			<br/>
			&nbsp;
			</td>
		</tr>
	</table>
</section>

<section class="odi-green left">
	<impact style="bottom: 200px;">
	<ul style="margin-left: 30px; font-size: 60px; line-height: 1.5em; list-style-type: none;">
		<li>Measuring success</li>
	</ul>
	</impact>
</section>

<section data-state="no-footer">
        <iframe src="//index.okfn.org/place/" width="100%" height="90%"></iframe>
</section>

{% include training_sets/barometer.html %}

<section class="odi-green left">
	<impact style="bottom: 150px;">
	<ul style="margin-left: 30px; font-size: 60px; line-height: 1.5em; list-style-type: none;">
		<li>Communities</li>
	</ul>
	</impact>
</section>

<section class="odi-dynamic left">
	<h2>Exercise</h2>
	<p class="odi-question">
	Who are your key Open Data communities?
	</p>
	<p class="odi-question" style="margin-top: 0px; font-size: 60px; font-style: italic; color: #bfbfbf;">
	What significant role does each play?
	</p>
</section>

<section data-state="stack">
<section class="odi-bubbles left">
	<h2>Communities</h2>
	<ul style="margin-left: 30px; font-size: 60px; line-height: 1.5em; list-style-type: none;">
		<li>Open Knowledge Foundation</li>
		<li>Open Rights Group</li>
		<li>Open Data Users Group</li>
		<li>Open Street Map</li>
		<li>mySociety</li>
	</ul>
</section>
<section data-state="no-footer">
        <iframe src="http://odinprac.theodi.org/proxy.php?url=http://okfn.org/" width="100%" height="90%"></iframe>
</section>
<section data-state="no-footer">
        <iframe src="//www.openrightsgroup.org/" width="100%" height="90%"></iframe>
</section>
<section data-state="no-footer">
        <iframe src="//www.gov.uk/government/groups/open-data-user-group" width="100%" height="90%"></iframe>
</section>
<section data-state="no-footer">
        <iframe src="http://odinprac.theodi.org/proxy.php?url=http://www.openstreetmap.org/about" width="100%" height="90%"></iframe>
</section>
<section data-state="no-footer">
        <iframe src="//www.mysociety.org/" width="100%" height="90%"></iframe>
</section>
</section>

<section class="left">
	<h2 style="padding-left: 20px; margin-bottom: 0; padding-bottom: 0;">Social</h2>
	<table width="95%" style="border-spacing: 0.1em; font-size: 28px; margin-left: auto; margin-right: auto;">
	<tr>
		<th width="60%">&nbsp;</th>
		<th width="10%" style="text-align: center;"><img src="images/best_practice_guidelines/raw_small.png" height="60px" alt="Raw"></img></th>
		<th width="10%" style="text-align: center;"><img src="images/best_practice_guidelines/pilot_small.png" height="60px" alt="Pilot"></img></th>
		<th width="10%" style="text-align: center;"><img src="images/best_practice_guidelines/standard_small.png" height="60px" alt="Expert"></img></th>
		<th width="10%" style="text-align: center;"><img src="images/best_practice_guidelines/expert_small.png" height="60px" alt="Small"></img></th>
	</tr>
	<tr>
		<td>Support for improving/fixing</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Email support</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Discussion groups/forums</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Social media channels</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Supported community</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Tools and guides available to work with data</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	</table>
</section>

<section class="odi-green left">
	<impact style="bottom: 150px;">
	<ul style="margin-left: 30px; font-size: 60px; line-height: 1.5em; list-style-type: none;">
		<li>Turning points</li>
	</ul>
	</impact>
</section>

<section data-state="no-footer">
	<iframe src='http://cdn.knightlab.com/libs/timeline/latest/embed/index.html?source=0AqkCaT7Q3IBbdERlSVdQY25UUC1yODRHc1lyeE96UFE&font=Bevan-PotanoSans&maptype=toner&lang=en&height=650' width='100%' height='650' frameborder='0'></iframe>
</section>

<section class="odi-green left">
	<impact style="bottom: 150px;">
	<ul style="margin-left: 30px; font-size: 60px; line-height: 1.5em; list-style-type: none;">
		<li>Do's and don'ts</li>
	</ul>
	</impact>
</section>

<section class="odi-dynamic left">
	<h2>Exercise</h2>
	<p class="odi-question">
	What should you do/not do to aid in the success of your programme?
	</p>
</section>

<section data-state="stack">
<section class="odi-bubbles left">
	<h2>Dave's observations</h2>
	<ul style="margin-left: 30px; font-size: 32px; line-height: 1.5em; list-style-type: none;">
		<li><b>Do</b> use data tools and education to inspire the data publishers (make their lives better)</li>
		<li><b>Don't</b> rely on technology/platforms to solve your problem</li>
		<li><b>Don't</b> build the coolest app/visualisation yourself!</li>
		<li><b>Don't</b> forget to market other peoples success for them!</li>
		<li><b>Do</b> get civil society involved quickly!</li>
		<li><b>Don't</b> think that open data allows people to break the law.</li>
		<li><b>Do</b> be massively opportunistic to events (flooding)</li>
		<li><b>Don't</b> organise your data so that only the government can find it. (Ministry of ....)</li>
		<li><b>Don't</b> forget the second star!</li>
		<li><b>Do</b> use Open Data Certificates to help build best practices and for training.</li>
		<li><b>Don't</b> use RDF, and only create linked data if your data is reference data</li>
		<li><b>Don't</b> make all data free!?!?</li>
	</ul>
</section>
<section class="left">
	<h2>5-Stars</h2>
	<figure style="width: 100%; text-align: center; display: inline-block; float: left;">
		<img src="images/best_practice_guidelines/image43.png" style="border: 0;" alt="5 Stars"></img>
	</figure>
	<p style="text-align:center; font-size: smaller;"><a target="_blank" href="http://5stardata.info">http://5stardata.info</a></p>
</section>
<section class="left">
	<h2>OpenCorporates licenses (plural)</h2>
	<iframe src="//opencorporates.com/info/licence#api_use" width="100%" height="90%"></iframe><p><a href="https://opencorporates.com/info/licence#api_use" target="_blank">https://opencorporates.com/info/licence#api_use</a></p>
</section>
</section>

{% include training_sets/olympic_slogan.html %}

{% include odi_logo_with_text.html %}
