---
layout: odi
title: Delivering value from data
description: 
author: Dr David Tarrant
twitter: davetaz
---

{% include standard_title.html %}

<section class="center">
	<h2><i>"Information is not knowledge"</i></h2>
	<div style="width: 90%; text-align: right;">
		<i> - Albert Einstein</i>
	</div>
</section>

<section class="odi-polygons">
	<img src="images/definition_of_data/data_stack.png" height="600px" alt="data stack"/>
</section>

{% include training_sets/cross_sector_benefits_stack.html %}

{% include training_sets/big_personal_open.html %}

{% include training_sets/hack_days.html %}

{% include odi_logo_with_text.html %}
