---
layout: odi
title: Introducing Open Data
description: 
author: Dr David Tarrant
twitter: davetaz
---


{% include odi_logo.html %}

{% include training_sets/odinprac_intro.html %}

{% include standard_title.html %}

<section class="odi-circles left">
	<h2>Overview</h2>
	<ul style="margin-left: 30px; font-size: 48px; line-height: 2em; list-style-type: none;">
		<li style="margin-left: 120px;">Defining open data</li>
		<li style="margin-left: 240px;">Benefits</li>
		<li style="margin-left: 360px;">Open, closed and personal data</li>
		<li style="margin-left: 480px;">Why now?</li>
	</ul>
</section>

<section class="odi-dynamic left">
	<h2>Exercise</h2>
	<p class="odi-question">
	What is Data?
	</p>
</section>

{% include training_sets/definition_of_data.html %}

<section class="odi-dynamic left">
	<h2>Exercise</h2>
	<p class="odi-question">
	What is Open Data?
	</p>
</section>

{% include training_sets/definition_of_open_okf.html %}

{% include training_sets/definition_of_open_odi.html %}

{% include training_sets/definition_of_open_odn.html %}

{% include training_sets/definition_of_open_okf_stack.html %}

<section class="odi-red left">
	<impact>Data is the raw material of the new industrial revolution
	<br/>
	<smallest style="float: right;"> - Francis Maude MP</smallest>
	</impact>
</section>

<section class="left">
	<h2>Justifications</h2>
	<table>
		<tr style="display: none;">
			<th>Left wing</th>
			<th>Right wing</th>
		</tr>
		<tr style="font-size: 2em; line-height: 1.4em;">
			<td style="border-right: 1px solid gray; text-align: center;">
			<br/>
			Trust and Transparency
			<br/>
			&nbsp;
			</td>
			<td style="text-align: center;">
			<br/>
			Enabling the economy
			<br/>
			&nbsp;
			</td>
		</tr>
	</table>
</section>
<section class="left" style="background-image: url('images/receipts.jpg'); background-size: 100%;">
	<h2>MPs Expenses</h2>
	<figure style="text-align: center; width:100%;"><img src="images/expenses.png" style="height: 500px;"/></figure>
</section>
<section class="center">
	<figure style="text-align: center; width:100%;"><img src="http://www.payneins.com/insurance-providers/the_climate_corporation_logo.jpg" style="height: 500px;"/></figure>
</section>


{% include training_sets/perscribing_analytics.html %}

{% include training_sets/cross_sector_benefits_stack.html %}

{% include training_sets/crowd_sourcing_examples.html %}

{% include training_sets/big_personal_open.html %}

{% include training_sets/why_now.html %}

<section class="odi-circles left">
	<h2>Recap</h2>
	<ul style="margin-left: 30px; font-size: 48px; line-height: 2em; list-style-type: none;">
		<li style="margin-left: 120px;">Defining open data</li>
		<li style="margin-left: 240px;">Benefits</li>
		<li style="margin-left: 360px;">Open, closed and personal data</li>
		<li style="margin-left: 480px;">Why now?</li>
	</ul>
</section>

{% include training_sets/olympic_slogan.html %}

{% include odi_logo_with_text.html %}
