---
layout: odi
title: Introducing Open Data
description: 
author: Dr David Tarrant
twitter: davetaz
---


{% include odi_logo.html %}

{% include standard_title.html %}

<section class="odi-circles left">
	<h2>Overview</h2>
	<ul style="margin-left: 30px; font-size: 48px; line-height: 1.8; list-style-type: none;">
		<li style="margin-left: 60px;">Defining open data</li>
		<li style="margin-left: 120px;">Benefits</li>
		<li style="margin-left: 180px;">Open, closed and personal data</li>
		<li style="margin-left: 240px;">Why now?</li>
		<li style="margin-left: 300px;">Law and Licensing</li>
		<li style="margin-left: 360px;">Ensuring data quality</li>
	</ul>
</section>

<section class="odi-dynamic left">
	<h2>Exercise</h2>
	<p class="odi-question">
	What is Open Data?
	</p>
</section>

{% include training_sets/definition_of_data.html %}

{% include training_sets/definition_of_open_okf.html %}

{% include training_sets/definition_of_open_odi.html %}

{% include training_sets/definition_of_open_okf_stack.html %}

{% include training_sets/cross_sector_benefits_stack.html %}

{% include training_sets/big_personal_open.html %}

{% include training_sets/why_now.html %}

{% include training_sets/quick_law.html %}

{% include training_sets/best_practice_guidelines.html %}

<section class="odi-circles left">
	<h2>Recap</h2>
	<ul style="margin-left: 30px; font-size: 48px; line-height: 1.8; list-style-type: none;">
		<li style="margin-left: 60px;">Defining open data</li>
		<li style="margin-left: 120px;">Benefits</li>
		<li style="margin-left: 180px;">Open, closed and personal data</li>
		<li style="margin-left: 240px;">Why now?</li>
		<li style="margin-left: 300px;">Law and Licensing</li>
		<li style="margin-left: 360px;">Ensuring data quality</li>
	</ul>
</section>


{% include training_sets/olympic_slogan.html %}

{% include odi_logo_with_text.html %}
