---
layout: odi
title: Open Data Technologies
description: 
author: Dr David Tarrant
twitter: davetaz
---

{% include odi_logo.html %}

{% include training_sets/odt_intro.html %}

{% include standard_title.html %}

<section class="odi-circles left">
	<h2>Overview</h2>
	<ul style="margin-left: 30px; font-size: 48px; line-height: 2em; list-style-type: none;">
		<li style="margin-left: 120px;">Open Data: The story so far</li>
		<li style="margin-left: 240px;">The Semantic Web</li>
		<li style="margin-left: 360px;">Web 2.0</li>
		<li style="margin-left: 480px;">Benefits</li>
	</ul>
</section>

<section class="odi-dynamic left">
	<h2>Exercise</h2>
	<p class="odi-question">
	What is open data and what makes is usable?
	</p>
</section>

{% include training_sets/definition_of_open_okf.html %}

{% include training_sets/best_practice_guidelines.html %}

{% include training_sets/semantic_web.html %} 

{% include training_sets/web2.html %} 

{% include training_sets/olympic_slogan2.html %}

<section class="odi-circles left">
	<h2>Overview</h2>
	<ul style="margin-left: 30px; font-size: 48px; line-height: 2em; list-style-type: none;">
		<li style="margin-left: 120px;">Open Data: The story so far</li>
		<li style="margin-left: 360px;">The Semantic Web</li>
		<li style="margin-left: 240px;">Web 2.0</li>
		<li style="margin-left: 480px;">Benefits</li>
	</ul>
</section>

{% include odi_logo_with_text.html %}

