---
layout: odi
title: Introducing Open Data
description: 
author: Dr David Tarrant
twitter: davetaz
---


{% include odi_logo.html %}

{% include training_sets/introduce_yourselves.html %}

{% include standard_title.html %}

<section class="odi-circles left">
	<h2>Overview</h2>
	<ul style="margin-left: 30px; font-size: 48px; line-height: 2em; list-style-type: none;">
		<li style="margin-left: 100px;">Defining open data</li>
		<li style="margin-left: 200px;">Benefits</li>
		<li style="margin-left: 300px;">Open, closed and personal data</li>
		<li style="margin-left: 400px;">Why now?</li>
		<li style="margin-left: 500px;">The future...</li>
	</ul>
</section>

<section class="odi-dynamic left">
	<h2>Exercise</h2>
	<p class="odi-question">
	What is Data?
	</p>
</section>

{% include training_sets/definition_of_data.html %}

<section class="odi-dynamic left">
	<h2>Exercise</h2>
	<p class="odi-question">
	What is Open Data?
	</p>
</section>

{% include training_sets/definition_of_open_okf.html %}

{% include training_sets/definition_of_open_odi.html %}

{% include training_sets/definition_of_open_odn.html %}

{% include training_sets/definition_of_open_okf_stack.html %}

<section class="odi-red left">
	<impact>Data is the raw material of the new industrial revolution</impact>
</section>

{% include training_sets/perscribing_analytics.html %}

{% include training_sets/cross_sector_benefits_stack.html %}

{% include training_sets/crowd_sourcing_examples.html %}

{% include training_sets/big_personal_open.html %}

{% include training_sets/why_now.html %}

{% include training_sets/future_gov.html %}

{% include training_sets/olympic_slogan.html %}

<section class="odi-circles left">
	<h2>Recap</h2>
	<ul style="margin-left: 30px; font-size: 48px; line-height: 2em; list-style-type: none;">
		<li style="margin-left: 100px;">Defining open data</li>
		<li style="margin-left: 200px;">Benefits</li>
		<li style="margin-left: 300px;">Open, closed and personal data</li>
		<li style="margin-left: 400px;">Why now?</li>
		<li style="margin-left: 500px;">The future...</li>
	</ul>
</section>

{% include odi_logo_with_text.html %}
