---
layout: odi
title: Creating impact with Open Data
description: 
author: Dr David Tarrant
twitter: davetaz
---

{% include odi_logo.html %}

{% include standard_title.html %}

{% include training_sets/olympic_slogan.html %}

<section data-state="no-footer">
        <iframe src="//player.vimeo.com/video/110800848" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/110800848">What can open data do for you?</a> from <a href="http://vimeo.com/theodiuk">Open Data Institute</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
</section>

<section class="odi-dynamic left">
        <h2>What is Open Data?</h2>
        <p style="margin-left: 40px; margin-top: 30px; width: 60%; font-size: 64px; line-height: 1.4em;">
        Open data is data that is made <em>available</em> by <em>organisations</em>, <em>businesses</em> and <em>individuals</em> for <em>anyone</em> to <em>access</em>, <em>use</em> and <em>share</em>.
	</p>
	<p style="margin-left: 300px; margin-top: 30px; font-size: 36px;">
		- Open Data Institute FAQ
	</p>
	<p style="margin-left: 350px; font-size: 24px; color: #bfbfbf;">
		Current deffinition
	</p>
</section>

<section class="odi-purple left">
	<impact>Data is the raw material of the new industrial revolution
	<br/>
	<smallest style="float: right;"> - Francis Maude, UK MP</smallest>
	</impact>
</section>

<section class="center">
	<p style="font-size: 2em;">Our challenge?</p>
	</br>
	<h1>Sustain &gt; 7,000,000,000 people</h1>
	<p style="font-size: 2em;">
	... Energy ... Food ... Water ... Waste ...<br/>
	... Enucation ... Shelter ... Transport ... <br/>
	... Health ... Jobs ...
	</p>
</section>

<section>
	<h1>Triple-bottom-line impact</h1>
	<br/><br/>
	<div align="center" style="width: 90%; margin-left: auto; margin-right: auto;">
	<table style="text-align: left; width:100%; line-height: 2em;">
	<tr><th></th><th>Society</th><th>Economy</th><th>Environment</th></tr>
	<tr><td><b>Create</b></td><td>Transparency</td><td>Jobs</td><td>Manage scarcity</td></tr>
	<tr><td><b>Enable</b></td><td>Better services</td><td>Open innovation</td><td>Risk assessment</td></tr>
	<tr><td><b>Improve</b></td><td>Public engagement</td><td>Operational efficiency</td><td>Manufacturing efficiency</td></tr>
	</table>
	</div>
</section>

<section class="odi-purple left">
<impact>Creating new sectors<br/><small>Transparency - Opportunity - Service - Regulation</small></impact>
</section>

<section data-state="stack">
<section data-state="no-footer">
        <iframe src="http://smtm.labs.theodi.org/" style="width: 100%; height: 700px;"></iframe>
</section>
<section data-state="no-footer" class="odi-purple">
        <figure style="width: 100%">
                <img style="height: 600px;" src="images/cross_sector_benefits_stack/p2p_ft.png" alt="FT Coverage of SMTM"/>
        </figure>
</section>
<section data-state="no-footer" class="odi-purple">
        <figure style="width: 100%">
                <img style="height: 600px;" src="images/cross_sector_benefits_stack/image41.png" alt="Lend Invest policy change"/>
        </figure>
</section>
</section>

<section class="odi-purple">
<impact>Data is a means, not an end.</impact>
</section>

<section class="odi-dynamic left">
	<h2>Task</h2>
	<p class="odi-question">
	What is the end?
	</p>
	<p class="odi-question" style="margin-top: 0px; font-size: 60px; font-style: italic; color: #bfbfbf;">
	Why are you opening data?
	</p>
</section>

{% include odi_logo_with_text.html %}
