<section id='contact'>
    <a href='http://twitter.com/panoramadata'><img
            src='http://4a8c0405bbd8695bba65-04d82222e939dc67ec2f359e102c9add.r65.cf3.rackcdn.com/sites/default/files/styles/square_small_thumbnail/public/6405153701_50d45f316d_o.jpg?itok=fwQa4EK2'
            alt='Ulrich Atz'/></a>
    <a href='http://twitter.com/pezholio'><img
            src='http://4a8c0405bbd8695bba65-04d82222e939dc67ec2f359e102c9add.r65.cf3.rackcdn.com/sites/default/files/styles/square_small_thumbnail/public/stuart.jpg?itok=pxH74KgJ'
            alt='Stuart Harrison'/></a>
    <a href='http://twitter.com/tommyh'><img
            src='http://4a8c0405bbd8695bba65-04d82222e939dc67ec2f359e102c9add.r65.cf3.rackcdn.com/sites/default/files/styles/square_small_thumbnail/public/tom_pic_bw.png?itok=XPesp59a'
            alt='Tom Heath'/></a>
    <a href='http://twitter.com/pikesley'><img
            src='http://4a8c0405bbd8695bba65-04d82222e939dc67ec2f359e102c9add.r65.cf3.rackcdn.com/sites/default/files/styles/square_small_thumbnail/public/sam.jpg?itok=9DAC-cTb'
            alt='Sam Pikesley'/></a>
    <a href='http://twitter.com/floppy'><img
            src='http://4a8c0405bbd8695bba65-04d82222e939dc67ec2f359e102c9add.r65.cf3.rackcdn.com/sites/default/files/styles/square_small_thumbnail/public/james.jpg?itok=_4-xKauv'
            alt='James Smith'/></a>
    <a href='http://twitter.com/jenit'><img
            src='http://4a8c0405bbd8695bba65-04d82222e939dc67ec2f359e102c9add.r65.cf3.rackcdn.com/sites/default/files/styles/square_small_thumbnail/public/jeni_tennison_grs_7892_square_monochrome_400x.jpg?itok=aS4gtBO6'
            alt='Jeni Tennison'/></a>

    <p>
        Open Data Institute Tech Team<br/>
        <a href="https://twitter.com/ukoditech">@ukoditech</a><br/>
        <a href="mailto:info@theodi.org">info@theodi.org</a><br/>
        <a href="irc://irc.freenode.net/theodi">irc.freenode.net #theodi</a><br/>
    </p>
    <img width="" height="" src="brand/odi_logo_transparent_black.svg" alt="ODI" style="border:none; box-shadow: none; padding: 10px; background-color: transparent"></a><br>

    <p>
      <a href='http://theodi.github.io/presentations'>http://theodi.github.io/presentations</a>
    </p>
</section>