<section id='contact'>
    <a href='http://twitter.com/pezholio'><img
            src='team/stuart.jpg'
            alt='Stuart Harrison'/></a>
    <a href='http://twitter.com/pikesley'><img
            src='team/sam.jpg'
            alt='Sam Pikesley'/></a>
    <a href='http://twitter.com/floppy'><img
            src='team/james.jpg'
            alt='James Smith'/></a>
    <a href='http://twitter.com/jenit'><img
            src='team/jeni.jpg'
            alt='Jeni Tennison'/></a>

    <h4>
        Open Data Institute Tech Team<br/>
        <a href="https://twitter.com/ukoditech">@ukoditech</a><br/>
        <a href="mailto:info@theodi.org">info@theodi.org</a><br/>
        <a href="irc://irc.freenode.net/theodi">irc.freenode.net #theodi</a><br/>
    </h4>
    <img width="" height="" src="brand/odi_logo_transparent_black.svg" alt="ODI" style="border:none; box-shadow: none; padding: 10px; background-color: transparent"></a><br>

    <h4>
      <a href='http://theodi.github.io/presentations'>http://theodi.github.io/presentations</a>
    </h4>
</section>
