<section data-state="stack">
  <section class="odi-green left">
	<impact>This stack shows you all the ODI brand colours!<br/><smallest>This is odi-green</smallest></impact>
  </section>
  <section class="odi-red left">
	<impact>Simply add odi-<i>color</i> to the class list of your slide<br/><smallest>This is odi-red</smallest></impact>
  </section>
  <section class="odi-cyan left">
	<impact>To add this text, you need a <code>&lt;impact&gt;</code> element.<br/><smallest>This is odi-cyan</smallest></impact>
  </section>
  <section class="odi-light-blue left">
	<impact>The small text below is in a <code>&lt;smallest&gt;</code> element after a <code>&lt;br/&gt;</code><br/><smallest>This is odi-light-blue</smallest></impact>
  </section>
  <section class="odi-dark-blue left">
	<impact>Simple eh?<br/><smallest>This is odi-dark-blue</smallest></impact>
  </section>
  <section class="odi-yellow left">
	<impact>There are loads of colours!<br/><smallest>This is odi-yellow</smallest></impact>
  </section>
  <section class="odi-pale-green left">
	<impact>Hope they are not too sickening<br/><smallest>This is odi-pale-green</smallest></impact>
  </section>
  <section class="odi-blue-green left">
	<impact>I like this one<br/><smallest>This is odi-blue-green</smallest></impact>
  </section>
  <section class="odi-blue left">
	<impact>dum de dum<br/><smallest>This is odi-blue</smallest></impact>
  </section>
  <section class="odi-orange left">
	<impact>not many left<br/><smallest>This is odi-orange</smallest></impact>
  </section>
  <section class="odi-green left">
	<impact>nearly there<br/><smallest>This is odi-green</smallest></impact>
  </section>
  <section class="odi-purple left">
	<impact>and we are done<br/><smallest>This is odi-purple</smallest></impact>
  </section>
</section>
