<section data-state="odi-circles">
	<h2>Hello World</h2>
</section>
<section style="text-align: left" data-state="odi-polygons">
	<h2>A list</h2>
	<ul class="no-bullet shortlist">
		<li>Item 1</li>
		<li>Item 2</li>
	</ul>
</section>
<section data-state="stack">
  <section style="text-align: left" data-state="odi-green">
	<impact style="color: white;">We are Awesome!</impact>
  </section>
  <section data-state="no-footer">
	<iframe src="http://smtm.labs.theodi.org"></iframe> 
  </section>
</section>
<section class="center">
	<p>Some content in the middle of the slide</p>
</section>
