<section data-state="stack">
  <section class="left">
	<h2>Embedding live content</h2>
	<p>One really cool thing we can do is embed live content, oh YES!</p>
	<br/>
	<p>I do not recommend embedding live content in the main slide deck, use a stack.</p>
	<br/>
	<p>To embed live content use an <code>&lt;iframe&gt;</code> element.</p>
	<br/>
	<p>Note: Not all sides allow embedding in other sites!</p>
	<br/>
	<p>Press down for a cool example</p>
  </section>
  <section data-state="no-footer">
	<iframe src="http://citydashboard.org/london/"></iframe> 
  </section>
</section>
