<section data-state="stack">
  <section class="left" style="background-image: url('http://farm6.staticflickr.com/5514/10590223144_d0d68ba545_h.jpg'); background-repeat: none; background-size: 100%;">
	<h2 style="color: white;">Pictures</h2>
	<p style="color: white;">Press Down</p>
  </section>
  <section class="left" data-state="no-footer" style="background-image: url('images/crowd-sourcing-examples/image20.png'); background-size: 100%;">
	<h2>Background Pictures</h2>
	<p>These require <code>style</code> on the slide:</p>
	<br/>
	<ul>
		<li>background-image: url('<i>url...</i>');
		<li>background-repeat: none;</li>
		<li>background-size: 100%;</li>
	</ul>
	<br/><br/>
	<p>The image has to be pre-formated to work properly (e.g. opacity etc).</p>	
	<br/>
	<p>Press down</p>
  </section>
  <section class="left">
	<h2>Pictures in slides</h2>
	<p>We can put a picture in the middle of a slide with a <code>&lt;figure&gt;</code> and <code>&lt;image&gt;</code> tag.
	 <figure style="text-align: center; width:100%;"><img src="images/big_personal_open/bop.png" style="height: 500px;"/><br/><smallest>Credit: Statshero</smallest></figure>
  </section>
  <section class="left" data-state="no-footer">
	<h2 style="position: fixed; left: 50%; top: 50%; margin-left: -150px; margin-top: -50px;">Corners</h2>
	<figure class="top-right">
		<img src="images/okf/okf.png" alt="okf"/>
	</figure>
	<figure class="top-left">
		<img src="images/okf/okf.png" alt="okf"/>
	</figure>
	<figure class="bottom-right">
		<img src="images/okf/okf.png" alt="okf"/>
	</figure>
	<figure class="bottom-left">
		<img src="images/okf/okf.png" alt="okf"/>
	</figure>
  </section>
</section>
