<section data-state="stack">
  <section class="left odi-circles">
	<h2>Using Stacks</h2>
	<p class="odi-logo">
		Reveal.js allows you to navigate both forwards (you got here) and up and down. Try it by pressing the down arrow!
	</p>
  </section>
  <section class="left odi-polygons">
	<h2>ODI Branding</h2>
	<p class="odi-logo">
		In the top left you will notice the ODI brand logo, there are three options which you can apply in the class attribute of your slides:
	</p>
	<ul>
		<li>odi-circles (up a slide)</li>
		<li>odi-polygons (this slide)</li>
		<li>odi-dynamic (down a slide)</li>
        </ul>
  </section>
  <section class="left odi-dynamic">
	<h2>Alignment</h2>
	<p class="odi-logo">Note that you can only use these logos when the text is left aligned on your slide with a <code>class="left"</code> attribute.</p><br/>
	<p>You should also use <code>class="odi-logo"</code> on your paragraph (<code>&lt;p&gt;</code>) element to make sure the text doesn't overlap with the logo.</p>
  </section>
</section>
