<section data-state="stack">
<section>
        <heading><h2 class="invert" style="margin-left: 30px; padding-left: 23px; padding-bottom: 10px; padding-top: 10px; padding-right: 23px; margin-bottom: 10px">A Global Movement</h2></heading>
        <figure style="text-align: center">
                <img src="images/barometer/image34.png" height="500px" alt="Barometer"></img></br>
                <a href="http://theodi.github.io/open-data-barometer-viz/">http://theodi.github.io/open-data-barometer-viz/</a>
        </figure>
</section>

<section data-state="no-footer">
        <iframe src="http://theodi.github.io/open-data-barometer-viz/map.html" style="width: 100%; height: 600px;"></iframe>
</section>

<section data-state="no-footer">
        <iframe src="http://opendatabarometer.org/report/analysis/rankings.html" style="width: 100%; height: 600px;"></iframe>
</section>

</section>
