<section class="odi-blue-green left">
	<impact>Ensuring Data Quality<br/><small style="font-size: 32px;">
	Best Practice Guidelines</small></impact>
</section>

<section class="odi-dynamic left">
	<h2>Exercise</h2>
	<p class="odi-question">
	What makes data usable?
	</p>
</section>

<section class="odi-dynamic left">
	<h2>Guidelines</h2>
	<figure style="width: 40%; text-align: center; display: inline-block; vertical-align: middle; margin-top: 120px;">
		<img src="images/best_practice_guidelines/image42.png" width="90%" style="border: 0;" alt="Open Data Certificate"></img>
	</figure>
	<figure style="width: 40%; text-align: center; display: inline-block; vertical-align: middle; margin-top: 120px;">
		<img src="images/best_practice_guidelines/stars.png" width="90%" style="border: 0;" alt="5 Stars"><br/>5 Stars</img>
	</figure>
</section>

<section data-type="stack">
<section class="left">
	<h2>5-Stars</h2>
	<figure style="width: 100%; text-align: center; display: inline-block; float: left;">
		<img src="images/best_practice_guidelines/image43.png" style="border: 0;" alt="5 Stars"></img>
	</figure>
	<p style="text-align:center; font-size: smaller;"><a target="_blank" href="http://5stardata.info">http://5stardata.info</a></p>
</section>
<section data-state="no-footer">
	<iframe src="http://5stardata.info" style="width: 100%; height: 700px;"></iframe>
</section>
</section>

<section class="left">
	<h2>5 Stars</h2>
	<table width="90%" style="margin-left: auto; margin-right: auto; font-size: 28px; border-spacing: 0.5em;">
	<tr>
		<td width="20%" style="text-align: right; color: #ffd646;">&#9733;</td>
		<td>Available on the web (whatever format) but with an open licence, to be Open Data</td>
	</tr>
	<tr>
		<td style="text-align: right; color: #ffd646;">&#9733; &#9733;</td>
		<td>Available as machine-readable structured data (e.g. excel instead of image scan of a table)</td>
	</tr>
	<tr>
		<td style="text-align: right; color: #ffd646;">&#9733; &#9733; &#9733;</td>
		<td>as (2) plus non-proprietary format (e.g. CSV instead of excel)</td>
	</tr>
	<tr>
		<td style="text-align: right; color: #ffd646;">&#9733; &#9733; &#9733; &#9733;</td>
		<td>use URIs to denote things, so that people can point at your stuff</td>
	</tr>
	<tr>
		<td style="text-align: right; color: #ffd646;">&#9733; &#9733; &#9733; &#9733; &#9733;</td>
		<td>All the above, plus: Link your data to other people’s data to provide context</td>
	</tr>
	</table>
</section>

<section class="left">
	<h2>Adding context</h2>
<figure style="text-align: center; width:100%;"><img src="images/best_practice_guidelines/context1.png" style="height: 500px;"/></figure>
</section>
<section class="left">
	<h2>Adding context</h2>
<figure style="text-align: center; width:100%;"><img src="images/best_practice_guidelines/context2.png" style="height: 500px;"/></figure>
</section>

<section class="left">
	<h2>General</h2>
	<table width="95%" style="border-spacing: 0.1em; font-size: 28px; margin-left: auto; margin-right: auto;">
	<tr>
		<th width="60%">&nbsp;</th>
		<th width="10%" style="text-align: center;"><img src="images/best_practice_guidelines/raw_small.png" height="60px" alt="Raw"></img></th>
		<th width="10%" style="text-align: center;"><img src="images/best_practice_guidelines/pilot_small.png" height="60px" alt="Pilot"></img></th>
		<th width="10%" style="text-align: center;"><img src="images/best_practice_guidelines/standard_small.png" height="60px" alt="Expert"></img></th>
		<th width="10%" style="text-align: center;"><img src="images/best_practice_guidelines/expert_small.png" height="60px" alt="Small"></img></th>
	</tr>
	<tr>
		<td>Title/Description/Publisher/URL</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Release Type</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	</table>
</section>

<section class="left">
	<h2 style="padding-left: 20px; margin-bottom: 0; padding-bottom: 0;">Legal</h2>
	<table width="95%" style="border-spacing: 0.1em; font-size: 28px; margin-left: auto; margin-right: auto;">
	<tr>
		<th width="60%">&nbsp;</th>
		<th width="10%" style="text-align: center;"><img src="images/best_practice_guidelines/raw_small.png" height="60px" alt="Raw"></img></th>
		<th width="10%" style="text-align: center;"><img src="images/best_practice_guidelines/pilot_small.png" height="60px" alt="Pilot"></img></th>
		<th width="10%" style="text-align: center;"><img src="images/best_practice_guidelines/standard_small.png" height="60px" alt="Expert"></img></th>
		<th width="10%" style="text-align: center;"><img src="images/best_practice_guidelines/expert_small.png" height="60px" alt="Small"></img></th>
	</tr>
	<tr>
		<td>Right to publish</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Data licensed</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Content licensed</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Clear privacy statement</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Sources of data documented</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Audited Anonymisation</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	</table>
</section>

<section class="left">
	<h2 style="padding-left: 20px; margin-bottom: 0; padding-bottom: 0;">Practical</h2>
	<table width="95%" style="border-spacing: 0.1em; font-size: 28px; margin-left: auto; margin-right: auto;">
	<tr>
		<th width="60%">&nbsp;</th>
		<th width="10%" style="text-align: center;"><img src="images/best_practice_guidelines/raw_small.png" height="60px" alt="Raw"></img></th>
		<th width="10%" style="text-align: center;"><img src="images/best_practice_guidelines/pilot_small.png" height="60px" alt="Pilot"></img></th>
		<th width="10%" style="text-align: center;"><img src="images/best_practice_guidelines/standard_small.png" height="60px" alt="Expert"></img></th>
		<th width="10%" style="text-align: center;"><img src="images/best_practice_guidelines/expert_small.png" height="60px" alt="Small"></img></th>
	</tr>
	<tr>
		<td>Useable period described</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Availability period described</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Discoverable from home page</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Listed in a collection</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Referenced from publication/application</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Quality problems listed</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Quality control process described</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	</table>
</section>

<section class="left">
	<h2 style="padding-left: 20px; margin-bottom: 0; padding-bottom: 0;">Technical</h2>
	<table width="95%" style="border-spacing: 0.1em; font-size: 28px; margin-left: auto; margin-right: auto;">
	<tr>
		<th width="60%">&nbsp;</th>
		<th width="10%" style="text-align: center;"><img src="images/best_practice_guidelines/raw_small.png" height="60px" alt="Raw"></img></th>
		<th width="10%" style="text-align: center;"><img src="images/best_practice_guidelines/pilot_small.png" height="60px" alt="Pilot"></img></th>
		<th width="10%" style="text-align: center;"><img src="images/best_practice_guidelines/standard_small.png" height="60px" alt="Expert"></img></th>
		<th width="10%" style="text-align: center;"><img src="images/best_practice_guidelines/expert_small.png" height="60px" alt="Small"></img></th>
	</tr>
	<tr>
		<td>Data hosted online</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Type of data defined</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Machine readable metadata</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Clear technical documentation</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Persistant &amp; common identifiers used</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>5-Star Linked Data</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Machine readable provenance</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Data can be verified</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	</table>
</section>

<section class="left">
	<h2 style="padding-left: 20px; margin-bottom: 0; padding-bottom: 0;">Social</h2>
	<table width="95%" style="border-spacing: 0.1em; font-size: 28px; margin-left: auto; margin-right: auto;">
	<tr>
		<th width="60%">&nbsp;</th>
		<th width="10%" style="text-align: center;"><img src="images/best_practice_guidelines/raw_small.png" height="60px" alt="Raw"></img></th>
		<th width="10%" style="text-align: center;"><img src="images/best_practice_guidelines/pilot_small.png" height="60px" alt="Pilot"></img></th>
		<th width="10%" style="text-align: center;"><img src="images/best_practice_guidelines/standard_small.png" height="60px" alt="Expert"></img></th>
		<th width="10%" style="text-align: center;"><img src="images/best_practice_guidelines/expert_small.png" height="60px" alt="Small"></img></th>
	</tr>
	<tr>
		<td>Support for improving/fixing</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Email support</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Discussion groups/forums</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Social media channels</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Supported community</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Tools and guides available to work with data</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	</table>
</section>

<section class="center">
	<h2>Demand driven open data</h2>
	<figure style="text-align: center; display: inline-block;">
		<img style="display: block;" width="600px" src="http://www.opendatanow.com/wp-content/uploads/2013/12/Demand-Driven-Open-Data.jpg">
		<caption><i>Demand driven data, Gurin 2014</i></caption>
	</figure>
	
</section>

<section data-state="stack">
<section style="text-align: left;">
	<h2>A Global Activity</h2>
	<figure style="width: 100%; text-align: center; display: inline-block; float: left;">
		<img src="images/best_practice_guidelines/image64.png" style="border: 0;" height="450px" alt="Open Data Certificates - Contribute"></img>
		<br/>
		<a href="http://certificates.theodi.org">http://certificates.theodi.org</a>
	</figure>
</section>
<section data-state="no-footer">
	<iframe src="http://certificates.theodi.org" style="width: 100%; height: 700px;"></iframe>
</section>
</section>

<section style="text-align: left;">
	<h2>One Objective</h2>
	<ul style="line-height: 2em; font-size: 42px; margin-left: 100px; margin-top: 100px; list-style-type: none;">
		<li>3-Star data</li>
		<li>Standard level Open Data Certificate</li>
	</ul>
	<figure style="float: right; text-align: center; margin-right: 100px;">
		<img src="images/best_practice_guidelines/standard_large.png" width="350px" style="border: 0; margin-left: auto; margin-right: auto;"></img><br/>
		<p style="font-size: 90px; color: #ffd646;">&#9733; &#9733; &#9733;</p>
	</figure>
	
</section>
