<section class="odi-dynamic left">
	<h2>The 7 Steps</h2>
	<label2 class="odi-label" style="top: -10px; position: absolute; left: 450px; padding-top: 10px; background-color: #dc4810; border-radius: 3px;">Beta</label2>
	<ol style="padding-left: 100px; font-size: 60px; line-height: 1.5em;">
	<li>Develop a compelling vision</li>
	<li>Educate, train and expand knowledge</li>
	<li>Establish a change team</li>
	<li>Be agile and plan for "quick wins"</li>
	<li>Open data needs open communication</li>
	<li>Be opportunistic, proactive and reactive</li>
	<li>Encourage, support and promote excellence</li>
	</ol>
</section>
