<section class="odi-green left">
	<impact>
		Open data realises the full potential of the crowd
	</impact>
</section>

<section class="left" style="background-image: url('images/crowd-sourcing-examples/image20.png'); background-size: 100%;">
	<h2 style="float: right; margin-right: 0.6em;">
		Improves accuracy of data
	</h2>
	<ul class="no-bullet shortlist">
		<li><span style="font-size: 72px;">300,000</span><br/><span style="margin-left: 3em">bus stops' data made available</li>
		<li><span style="font-size: 72px;">18,000</span><br/><span style="margin-left: 3em">corrected by Open Street Map community</li>
	</ul>
	<div align="center" style="margin-top: 1.5em;">
		<p style="font-size: 16px;">Assuming each stop takes 4 minutes to correct. This equates to ~3 years worth of effort<br/>
		* Based upon 8 hours a day and 232 working days in a year.</p>
	</div>
</section>

<section data-state="stack">
  <section style="background-color: black;">
	<h2 style="float: right; margin-right: 0.6em;">
		Collective scientific discovery
	</h2>
	<figure>
		<img style="margin-top: 1em;" src="images/crowd-sourcing-examples/galaxyzoo.png" alt="Galaxy Zoo"/>
	</figure>
  </section>
  <section style="text-align: center; background-color: black;" data-state="no-footer">
	<iframe src="http://www.galaxyzoo.org/#/classify"></iframe> 
  </section>
</section>
