<section data-state="stack">
<section class="odi-polygons left">
	<h2>Definition of Data (1)</h2>
	<p class="odi-poly-block">
	A collection of <b>facts</b>, <b>information</b> and <b>statistics</b> that can be analysed to develop new knowledge
	</p>
</section>

<section class="odi-polygons left">
	<h2>Definition of Data (2)</h2>
	<p class="odi-poly-block">
	A collection of numbers assigned as values to quantitative variables and/or characters assigned as values to qualitative variables
	</p>
</section>

<section class="odi-polygons left">
	<h2>Definition of Data (3)</h2>
	<p class="odi-poly-block">
	The <b>lowest level</b> of abstraction from which information and then knowledge are derived.
	</p>
</section>
</section> 

<section class="odi-polygons">
	<img src="images/definition_of_data/data_stack.png" height="600px" alt="data stack"/>
	<p>Data: Information without context</p>
</section>

<!--<section class="center">
	<h2><i>"Information is not knowledge"</i></h2>
	<div style="width: 90%; text-align: right;">
		<i> - Albert Einstein</i>
	</div>
</section>-->
