<section class="left">
	<h2>Exercise</h2>
	<p class="odi-question">
	What is Open Data?
	</p>
	<p class="odi-question" style="margin-top: 0px; font-size: 60px; font-style: italic; color: #bfbfbf;">
	http://bit.ly/odivote
	</p>
	<iframe style="position: absolute; top: -110px; right: 20px; width: 30%;"src="https://docs.google.com/a/theodi.org/spreadsheets/d/1sDJQTfTYkNSSacte54cmH_R5xbPkZ7jZ3khLJzvY2GA/edit#gid=2147047553"></iframe>
	<div style="position: absolute; bottom: 0px; right: 0px; height: 380px; width: 40%; z-index: 10; background-color: white;">&nbsp;</div>
</section>

<section class="left" data-state="no-footer">
<div style="position: absolute; top: 0px; left: 0px; background-color: white; width: 2000px; height: 120px; z-index: 10;">&nbsp;</div>
<iframe style="position: absolute; top: 10px; left: 20px;" width="100%" height="100%" id="responseFrame1" src="https://docs.google.com/a/theodi.org/spreadsheets/d/1sDJQTfTYkNSSacte54cmH_R5xbPkZ7jZ3khLJzvY2GA/edit#gid=1944824875"></iframe>
<div style="position: absolute; bottom: 120px; left: 0px; background-color: white; width: 2000px; height: 120px; z-index: 10;">&nbsp;</div>
</section>

{% include training_sets/definition_of_open_odi_new.html %}

{% include training_sets/optionb.html %}

{% include training_sets/definition_of_open_datagovuk.html %}

{% include training_sets/definition_of_open_wikipedia.html %}
