<section class="left">
        <h2>Definition of Open Data</h2>
	<figure class="top-right">
		<img src="images/definition_of_open_odn/open-data-book.jpg" style="width:200px; padding-top: 100px;" alt="Open Data Now (book)"/>
	</figure>
        <p style="margin-left: 40px; margin-top: 30px; width: 70%; font-size: 48px; line-height: 1.4em;">
        Open Data is accessible public data that people, companies and organizations can use to launch new ventures, analyze patterns and trends, make data-driven decisions, and solve complex problems.
        </p>
</section>
