<section class="odi-dynamic left">
        <h2>Option A</h2>
        <p style="margin-left: 40px; margin-top: 30px; width: 60%; font-size: 64px; line-height: 1.4em;">
        Open data is data that is made <em>available</em> by <em>organisations</em>, <em>businesses</em> and <em>individuals</em> for <em>anyone</em> to <em>access</em>, <em>use</em> and <em>share</em>.
	</p>
	<p style="margin-left: 300px; margin-top: 30px; font-size: 36px;">
		- Open Data Institute FAQ
	</p>
	<p style="margin-left: 350px; font-size: 24px; color: #bfbfbf;">
		Current deffinition
	</p>
</section>
