<section class="odi-dynamic left">
        <h2>Option D</h2>
        <p style="margin-left: 40px; margin-top: 30px; width: 60%; font-size: 64px; line-height: 1.4em;">
	Open data is the <em>idea</em> that certain data should be <em>freely available</em> to <em>everyone</em> to <em>use</em> and <em>republish</em> as they <em>wish</em>, without restrictions from copyright, patents or other mechanisms of control.
        </p>
	<p style="margin-left: 300px; margin-top: 30px; font-size: 36px;">
		- wikipedia
	</p>
</section>
