<section class="odi-dynamic left">
        <h2>Definition of Open (ODI)</h2>
        <p style="margin-left: 40px; margin-top: 30px; width: 60%; font-size: 64px; line-height: 1.4em;">
		Something is open if <em>anyone</em> is <em>free to use</em>, <em>reuse</em>, <em>modify</em> and <em>redistribute</em> it - subject only, at most, the a requirement to <em>acknowledge the source</em> and/or make your outputs <em>similarly open</em>.
        </p>
	<p style="margin-left: 300px; margin-top: 30px; font-size: 36px;">
		- Open Data Institute (&amp; Caitlin Griffiths) 
	</p>
</section>
