<section class="odi-dynamic left">
        <h2>ODI (Version 1)</h2>
        <p style="margin-left: 40px; margin-top: 30px; width: 60%; font-size: 64px; line-height: 1.4em;">
        Open data is information that is <em>available</em> for <em>anyone</em> to <em>use</em>, for <em>any purpose</em>, at <em>no cost</em>.
        </p>
	<p style="margin-left: 300px; margin-top: 30px; font-size: 36px;">
		- Open Data Institute FAQ
	</p>
	<p style="margin-left: 350px; font-size: 24px; color: #bfbfbf;">
		Retired November 2014
	</p>
</section>
