<section class="odi-okf left">
	<figure class="top-right">
		<img src="images/okf/okf.png" alt="okf"/>
	</figure>
	<h2>Definition of Open (OKF)</h2>
	<p style="margin-left: 40px; margin-top: 30px; margin-right: 200px; font-size: 48px; line-height: 1.4em;">
	A piece of data or content is open if <em>anyone</em> is <em>free to use</em>, <em>reuse</em>, and <em>redistribute</em> it - subject only, at most, to the requirement to attribute and/or share-alike.
	</p>
	<p style="margin-left: 300px; margin-top: 30px; font-size: 36px;">
		- Summary of Open Definition (v1.0)
	</p>
	<p style="margin-left: 350px; font-size: 24px; color: #bfbfbf;">
		Retired August 2014
	</p>
</section>
