<section class="left">
    <h1>5 Stages of Data Grief</h1>
	<br>
    <h3></h3>
    <hr/>
    <h4>
      
        Jeni Tennison
      
      ·
      
        <a href="https://twitter.com/jeniT">@jeniT</a></p>
      
      </h4>
      
</section>



<section class="odi-circles left">
	<h2>Five Stages of Data Grief</h2>
	<impact>Stage 1: Denial<br/>
		<smallest>This can’t be right: there’s nothing wrong with our data! Your analysis/code/visualisation must be doing something wrong.</smallest>
	</impact>
</section>
<section class="odi-circles left">
	<h2>Five Stages of Data Grief</h2>
	<impact>Stage 2: Anger<br/>
		<smallest>
		Who is responsible for these errors? Why haven’t they been spotted before?
		</smallest>
	</impact>
</section>
<section class="odi-circles left">
	<h2>Five Stages of Data Grief</h2>
	<impact>Stage 3: Bargaining<br/>
		<smallest>
		What about if we ignore these bits here? Can you tweak the visualisation to hide that?
		</smallest>
	</impact>
</section>
<section class="odi-circles left">
	<h2>Five Stages of Data Grief</h2>
	<impact>Stage 4: Depression<br/>
		<smallest>
		This whole dataset is worthless. There’s no point even trying to capture this data any more.
		</smallest>
	</impact>
</section>
<section class="odi-circles left">
	<h2>Five Stages of Data Grief</h2>
	<impact>Stage 5: Acceptance<br/>
		<smallest>
		We know there are some problems with the data. We’ll document them for anyone who wants to use it, and describe the limitations of the analysis.
		</smallest>
	</impact>
</section>
<section>
	<h2>Five Stages of Data Grief</h2>
	<figure style="text-align: center;"><img src="images/five_stages_of_data_grief/kubler.jpg" style="height: 500px;"/></figure>
</section>
<section class="odi-circles left">
	<h2>Benefits</h2>
	<ul class="no-bullet shortlist" style="margin-right: 300px;">
		<li><b>Denial</b> led to double-checking the calculations behind the analyses, making them more reliable.</li>
		<li><b>Anger</b> led to re-examination of how the data was collected and maintained, and documentation that helps everyone understand the limits of the data better.</li>
		<li><b>Bargaining</b> forced analyses and visualisations to be focused and explicit about what they do and don’t show.</li>
		<li><b>Depression</b> helped everyone focus on the user needs from the data. Each stage makes for a better end product.</li>
	</ul>
</section>
<section class="odi-circles left">
	<h2><span class="strikeout">Five</span> Six Stages of Data Grief</h2>
	<impact>Stage 6: Hope<br/>
		<smallest>
			Creating feedback loops can radically change how people think about data, and use computers within their organisations.
		</smallest>
	</impact>
</section>
