<section class="odi-yellow left">
        <impact>The future...</impact>
</section>
<section class="odi-dynamic left">
	<h2>Exercise</h2>
	<p class="odi-question odi-logo" style="font-size: 1.6em; margin-top: 100px; line-height: 1.6em;">
	What is the future of Open Data
	<br/>
	... in government (or ONS)?
	<br/>
	... for commercial companies?
	<br/>
	... for you (as a person)?
	</p>
</section>

<section data-state="stack">
   <section class="left">
	<h2 class="center">Observations (Government)</h2>
	<br/>&nbsp;<br/>
	<table style="width: 90%; margin-left: auto; margin-right: auto;" cell-spacing=>
	<tr/>
	<th style="width: 50%;">Good</th>
	<th>Bad</th>
	</tr>
	<tr>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	</tr>
	<tr style="height: 1.4em;">
	<td class="tick">Clear plan and license</td>
	<td class="cross">Square peg round hole?</td>
	</tr>
	<tr style="height: 1.4em;">
	<td class="tick">Core supported activity</td>
	<td class="cross">Disconnected</td>
	</tr>
	<tr style="height: 1.4em;">
	<td class="tick">Lots of Datasets</td>
	<td class="cross">Inconsistent and unstable</td>
	</tr>
	<tr style="height: 1.4em;">
	<td class="tick">Value in application, not data</td>
	<td class="cross">Lacking clear context</td>
	</tr>
	<tr style="height: 1.4em;">
	<td class="tick">Happy with data as it is</td>
	<td></td>
	</tr>
	</table>
  </section>

{% include training_sets/five_stages_of_data_grief_full.html %}
</section>

<section class="left">
	<h2 class="center">Observations (Commercial)</h2>
	<br/>&nbsp;<br/>
	<table style="width: 90%; margin-left: auto; margin-right: auto;" cell-spacing=>
	<tr/>
	<th style="width: 50%;">Good</th>
	<th>Bad</th>
	</tr>
	<tr>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	</tr>
	<tr style="height: 1.4em;">
	<td class="tick">Love (using) Open Data</td>
	<td class="cross">Their data IS the valuable thing!</td>
	</tr>
	<tr style="height: 1.4em;">
	<td class="tick">Some commercial data open</td>
	<td class="cross">Mainly exhaust data</td>
	</tr>
	<tr style="height: 1.4em;">
	<td class="tick">Enhances services</td>
	<td class="cross">Services closed</td>
	</tr>
	<tr style="height: 1.4em;">
	<td class="tick">Use boosting economy</td>
	<td class="cross">No clear plan or license</td>
	</tr>
	</table>
</section>

<section class="left">
	<h2>Observations (public)</h2>
	<br/>&nbsp;<br/>
	<ul style="line-height: 1.8em; font-size: 1.2em; margin-left: 80px;">
	<li>Greater data literacy</li>
	<li>Great exposure through interactive data journalism</li>
	<li>Use open data to improve quality of life</li>
	<li>Often not aware of use</li>
	</ul>
</section>

<section class="left">
	<h2>The Future</h2>
	<br/>
	<figure class="top-right" style="padding-top: 200px;">
		<img src="images/definition_of_data/data_stack.png" height="200px" alt="data stack"/>
	</figure>
	<p style="padding-left: 40px; width: 70%; font-size: 1.2em;">Nearly everything we do is built on top of data. As a race we consume and re-use knowledge, often without being able to prove this knowledge. Exposing data (and information) brings a new level of sharing and capability which will change the way we behave in the future.</p> 
</section>
