<section class="left">
	<h2>Key Stories</h2>
	<ul class="no-bullet" style="font-size: 1.6em; line-height: 1.8em;">
		<li>Enabling transparency</li>
		<li>Creating an income stream</li>
		<li>Cutting costs</li>
		<li>Improving services</li>
		<li>Saving our planet</li>
	</ul>
</section>

<section class="left" style="background-image: url('images/receipts.jpg'); background-size: 100%;">
	<h2>Enabling transparency</h2>
	<figure style="text-align: center; width:100%;"><img src="images/expenses.png" style="height: 500px;"/></figure>
</section>

<section class="center">
	<h2>Creating an income stream</h2>
	<figure style="text-align: center; width:100%;"><img src="http://www.payneins.com/insurance-providers/the_climate_corporation_logo.jpg" style="height: 500px;"/></figure>
</section>


{% include training_sets/perscribing_analytics.html %}

<section data-state="stack">
<section class="left">
        <div align="right" style="margin-right: 50px;">
                <h2>Improving services</h2>
        </div>
        <p style="display: inline-block; position: absolute; font-size: 40px; width: 47%; margin-left: 20px; text-align: center;">
        <img src="images/cross_sector_benefits_stack/trains.png" style="display: block; height: 400px; margin-left: auto; margin-right: auto; margin-bottom: 1em;" alt="trains"/>
        Helps us get from A to B quicker</p>
        <p style="display: inline-block; float: right; font-size: 40px; width: 47%; text-align: center; margin-right: 1em;">Open data can help make decision that affect our safety
        <a target="_blank" href="http://london-fire.labs.theodi.org"><img src="images/cross_sector_benefits_stack/image13.png" style="margin-top: 1em;" height="300px" alt="fire"/></a></p>
</section>
<section data-state="no-footer">
        <iframe src="http://www.realtimetrains.co.uk/search/advanced/KGX" style="width: 100%; height: 700px;"></iframe>
</section>
<section data-state="no-footer">
        <iframe src="http://london-fire.labs.theodi.org/map.html" style="width: 100%; height: 700px;"></iframe>
</section>
</section>

<section class="left">
	<h2>Saving our planet</h2>
        <img src="images/cross_sector_benefits_stack/haiti_before.jpg" style="display: block; height: 400px; margin-left: 3em; margin-right: auto; margin-bottom: 1em; display: inline-block;" alt="haiti_before"/>
        <img src="images/cross_sector_benefits_stack/haiti_after.jpg" style="display: block; height: 400px; margin-left: 2em; margin-right: 1em; margin-bottom: 0em; display: inline-block;" alt="haiti_before"/>
</section>

<section data-state="no-footer">
        <iframe src="http://www.gapminder.org/world/#$majorMode=chart$is;shi=t;ly=2003;lb=f;il=t;fs=11;al=21;stl=t;st=t;nsl=t;se=t$wst;tts=C$ts;sp=6;ti=1820$zpv;v=0$inc_x;mmid=XCOORDS;iid=phAwcNAVuyj1jiMAkmq1iMg;by=ind$inc_y;mmid=YCOORDS;iid=phAwcNAVuyj1gkNuUEXOGag;by=ind$inc_s;uniValue=8.21;iid=phAwcNAVuyj1NHPC9MyZ9SQ;by=ind$inc_c;uniValue=255;gid=CATID0;iid=pyj6tScZqmEfbZyl0qjbiRQ;by=grp$map_x;scale=log;dataMin=294;dataMax=76977$map_y;scale=lin;dataMin=-1.2196;dataMax=26$map_s;sma=58;smi=1$cd;bd=0$inds=" style="width: 100%; height: 700px;"></iframe>
</section>

<section data-state="no-footer">
	<iframe src="http://theodi.org/about-us" style="width: 100%; height: 700px;"></iframe>
</section>
