<section class="left odi-circles">
	<h2>Key Stories</h2>
	<ul class="no-bullet" style="font-size: 1.6em; line-height: 1.8em;">
		<li>Enabling transparency</li>
		<li style="padding-left: 120px;">Creating an income stream</li>
		<li style="padding-left: 240px;">Cutting costs</li>
		<li style="padding-left: 360px;">Improving services</li>
		<li style="padding-left: 480px;">Saving our planet</li>
	</ul>
</section>

<section class="left">
	<h2>Exercise</h2>
	<div style="position: absolute; top: 10px; right: 30px;">
	<ul class="no-bullet" style="font-size: 1.2em; line-height: 1.6em;">
		<li>Enabling transparency</li>
		<li style="padding-left: 60px;">Creating an income stream</li>
		<li style="padding-left: 120px;">Cutting costs</li>
		<li style="padding-left: 180px;">Improving services</li>
		<li style="padding-left: 240px;">Saving our planet</li>
	</ul>
	</div>
	<p class="odi-question" style="padding-right: 200px;">
		In your groups, list your favorite open data stories.
	</p>
	<p class="odi-question" style="margin-top: 0px; font-size: 60px; font-style: italic; color: #bfbfbf;">
		Bonus points for one in each area!
	</p>	
</section>

<section data-state="no-footer">
	<iframe src="//player.vimeo.com/video/110800848" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/110800848">What can open data do for you?</a> from <a href="http://vimeo.com/theodiuk">Open Data Institute</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
</section>

<section class="left" style="background-image: url('images/receipts.jpg'); background-size: 100%;">
	<h2 style="color: black;">Enabling transparency</h2>
	<figure style="text-align: center; width:100%;"><img src="images/expenses.png" style="height: 500px;"/></figure>
</section>

<section data-state="no-footer" class="left">
	<h2>Income</h2>
	<figure class="top-right">
		<img src="images/cross_sector_benefits_stack/the_climate_corporation_logo.png" style="height: 200px;"/>
	</figure>
	<figure style="text-align: center; width:100%; padding-top: 70px;">
	<img src="images/cross_sector_benefits_stack/climate_corp.png"  style="display: block; width: 100%; margin-left: auto; margin-right: auto;" alt="CC Website"/>
	</figure>
</section>


{% include training_sets/perscribing_analytics.html %}

<section data-state="stack">
<section class="left">
        <div align="right" style="margin-right: 50px;">
                <h2>Improving services</h2>
        </div>
        <p style="display: inline-block; position: absolute; font-size: 40px; width: 47%; margin-left: 20px; text-align: center;">
        <img src="images/cross_sector_benefits_stack/trains.png" style="display: block; height: 400px; margin-left: auto; margin-right: auto; margin-bottom: 1em;" alt="trains"/>
        Helps us get from A to B quicker</p>
        <p style="display: inline-block; float: right; font-size: 40px; width: 47%; text-align: center; margin-right: 1em;">Open data can help make decision that affect our safety
        <a target="_blank" href="http://london-fire.labs.theodi.org"><img src="images/cross_sector_benefits_stack/image13.png" style="margin-top: 1em;" height="300px" alt="fire"/></a></p>
</section>
<section data-state="no-footer">
        <iframe src="http://www.realtimetrains.co.uk/search/advanced/KGX" style="width: 100%; height: 700px;"></iframe>
</section>
<section data-state="no-footer">
        <iframe src="http://www.realtimetrains.co.uk/maps/areas/swml/6" style="width: 100%; height: 700px;"></iframe>
</section>
<section class="left">
	<div style="position: absolute; top 0px; right: 10px; font-size: 12px;" onclick='document.getElementById("rail_quote").style.display = "block";'>Show quote</div>
	<h2>Impact and communication</h2>
	<figure style="width: 50%;">
		<img src="images/cross_sector_benefits_stack/bbc_rail_news.png" style="width: 100%;" alt="BBC News Rail Disruption"/>
	</figure>
	<iframe src="sw_widget.html" style="width: 420px; position: absolute; right: 100px; top: 100px;"></iframe>
	<div id="rail_quote" style="display: none;
    position: absolute;
    top: 200px;
    width: 80%;
    text-align: center;
    margin-left: 100px;
    z-index: 20;
    background: white;
    border: 1px solid black;
    padding: 1em;
    border-radius: 10px;">
		<p>"Passengers need informtaion as quickly as possible - ideally before leaving home. <em>Only 17% knew</em> about the disruption before arriving at the station."</p>
		<p>"Passengers now receive information from a range of sources, so train companies must ensure that staff at stations and on trains are ahead of the information game."</p>
	</div>
</section>
<section data-state="no-footer">
        <iframe src="http://london-fire.labs.theodi.org/map.html" style="width: 100%; height: 700px;"></iframe>
</section>
</section>

<section data-state="stack">
<section data-state="no-footer">
	<iframe width="100%" height="520" frameborder="0" src="https://davetaz.cartodb.com/viz/c183cd26-5206-11e5-a072-0e853d047bba/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
</section>
<section data-state="no-footer">
	<iframe src="//player.vimeo.com/video/9182869" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/9182869">OpenStreetMap - Project Haiti</a> from <a href="http://vimeo.com/itoworld">ItoWorld</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
</section>
<section class="left">
	<h2>Saving our planet</h2>
        <img src="images/cross_sector_benefits_stack/haiti_before.jpg" style="display: block; height: 400px; margin-left: 3em; margin-right: auto; margin-bottom: 1em; display: inline-block;" alt="haiti_before"/>
        <img src="images/cross_sector_benefits_stack/haiti_after.jpg" style="display: block; height: 400px; margin-left: 2em; margin-right: 1em; margin-bottom: 0em; display: inline-block;" alt="haiti_before"/>
</section>

<section data-state="no-footer">
        <iframe src="http://www.gapminder.org/world/#$majorMode=chart$is;shi=t;ly=2003;lb=f;il=t;fs=11;al=21;stl=t;st=t;nsl=t;se=t$wst;tts=C$ts;sp=6;ti=1820$zpv;v=0$inc_x;mmid=XCOORDS;iid=phAwcNAVuyj1jiMAkmq1iMg;by=ind$inc_y;mmid=YCOORDS;iid=phAwcNAVuyj1gkNuUEXOGag;by=ind$inc_s;uniValue=8.21;iid=phAwcNAVuyj1NHPC9MyZ9SQ;by=ind$inc_c;uniValue=255;gid=CATID0;iid=pyj6tScZqmEfbZyl0qjbiRQ;by=grp$map_x;scale=log;dataMin=294;dataMax=76977$map_y;scale=lin;dataMin=-1.2196;dataMax=26$map_s;sma=58;smi=1$cd;bd=0$inds=" style="width: 100%; height: 700px;"></iframe>
</section>
</section>

<section data-state="no-footer">
	<iframe src="http://theodi.org/about-us" style="width: 100%; height: 700px;"></iframe>
</section>
