<section class="left">
	<h2>Value of open data</h2>
	<div style="width: 100%">
	<img src="images/mckinsey.png" height="600px" style="position: relative; display: inline-block;"/>
	<impact style="position: absolute; left: 500px; top: 300px; display: inline-block;">
	$3 trillion per year
	</impact>
</section>

<section class="left">
	<figure class="top-right" style="display: block;">
        <img src="images/mckinsey.png" alt="McKinsey" style="width: 200px"/>
	</figure>
	<h2>Sectors</h2>
        <ul style="display: inline-block; line-height: 2em; font-size: 38px; vertical-align: top; list-style-type: none;">
        <li><img src="images/sector_icons/education.svg" style="max-height: 100px; max-width: 80px; position: relative; bottom: -20px; padding-right: 10px;"/>Education</li>
        <li><img src="images/sector_icons/transport.svg" style="max-height: 100px; max-width: 80px; position: relative; bottom: -20px; padding-right: 10px;"/>Transport</li>
        <li><img src="images/sector_icons/consumer_products.svg" style="max-height: 100px; max-width: 80px; position: relative; bottom: -20px; padding-right: 10px;"/>Consumer products</li>
        <li><img src="images/sector_icons/energy.svg" style="max-height: 100px; max-width: 80px; position: relative; bottom: -20px; padding-right: 10px;"/>Energy</li>
        </ul>
        <ul style="display: inline-block; line-height: 2em; font-size: 38px; float: right; margin-right: 400px; vertical-align: top; list-style-type: none; padding-left: 1em;">
        <li><img src="images/sector_icons/environment.svg" style="max-height: 100px; max-width: 80px; position: relative; bottom: -20px; padding-right: 10px;"/>Environment</li>
        <li><img src="images/sector_icons/health.svg" style="max-height: 100px; max-width: 80px; position: relative; bottom: -20px; padding-right: 10px;"/>Health</li>
        <li><img src="images/sector_icons/finance.svg" style="max-height: 100px; max-width: 80px; position: relative; bottom: -20px; padding-right: 10px;"/>Finance</li>
        </ul>
</section>

<section data-state="stack">
<section data-state="no-footer">
	<figure class="top-right" style="display: block;">
                <img src="images/sector_icons/education.svg" width="80px" style="padding-right: 30px" alt="education"/>
        </figure>
	<h2>&nbsp</h2>
	<iframe src="http://nendo.data.gov.bf/appli_accueil.php" style="width: 100%; height: 700px;"></iframe>
</section>
<section data-state="no-footer">
	<figure class="top-right" style="display: block;">
                <img src="images/sector_icons/education.svg" width="80px" style="padding-right: 30px" alt="education"/>
        </figure>
	<h2>&nbsp</h2>
        <iframe src="http://www.skillsroute.com/" style="width: 100%; height: 700px;"></iframe>
</section>
</section>

<section data-state="stack">
<section data-state="no-footer">
	<figure class="top-right" style="display: block;">
                <img src="images/sector_icons/transport.svg" width="80px" style="padding-right: 30px" alt="transport"/>
        </figure>
	<h2>&nbsp</h2>
        <iframe src="http://www.realtimetrains.co.uk/maps/areas/swml/6" style="width: 100%; height: 700px;"></iframe>
</section>
<section class="left">
	<figure class="top-right" style="display: block;">
                <img src="images/sector_icons/transport.svg" width="80px" style="padding-right: 30px" alt="transport"/>
        </figure>
	<h2>&nbsp</h2>
	<div style="position: absolute; top 0px; right: 10px; font-size: 12px;" onclick='document.getElementById("rail_quote").style.display = "block";'>Show quote</div>
	<h2>Impact and communication</h2>
	<figure style="width: 50%;">
		<img src="images/cross_sector_benefits_stack/bbc_rail_news.png" style="width: 100%;" alt="BBC News Rail Disruption"/>
	</figure>
	<iframe src="sw_widget.html" style="width: 420px; position: absolute; right: 100px; top: 100px;"></iframe>
	<div id="rail_quote" style="display: none;
    position: absolute;
    top: 200px;
    width: 80%;
    text-align: center;
    margin-left: 100px;
    z-index: 20;
    background: white;
    border: 1px solid black;
    padding: 1em;
    border-radius: 10px;">
		<p>"Passengers need informtaion as quickly as possible - ideally before leaving home. <em>Only 17% knew</em> about the disruption before arriving at the station."</p>
		<p>"Passengers now receive information from a range of sources, so train companies must ensure that staff at stations and on trains are ahead of the information game."</p>
	</div>
</section>
<section data-state="no-footer">
	<figure class="top-right" style="display: block;">
                <img src="images/sector_icons/transport.svg" width="80px" style="padding-right: 30px" alt="transport"/>
        </figure>
	<h2>&nbsp</h2>
        <iframe src="http://www.stationmasterapp.com/features.html" style="width: 100%; height: 700px;"></iframe>
</section>
<section data-state="no-footer">
	<figure class="top-right" style="display: block;">
                <img src="images/sector_icons/transport.svg" width="80px" style="padding-right: 30px" alt="transport"/>
        </figure>
	<h2>&nbsp</h2>
        <iframe src="https://checkthatbike.co.uk/" style="width: 100%; height: 700px;"></iframe>
</section>
</section>

<section data-state="stack">
<section data-state="no-footer">
	<figure class="top-right" style="display: block;">
                <img src="images/sector_icons/consumer_products.svg" width="80px" style="padding-right: 30px" alt="consumer products"/>
        </figure>
	<h2>&nbsp</h2>
	<iframe src="http://www.wheresthisfrom.com/" style="width: 100%; height: 700px;"></iframe>
</section>
<section data-state="no-footer">
	<figure class="top-right" style="display: block;">
                <img src="images/sector_icons/consumer_products.svg" width="80px" style="padding-right: 30px" alt="consumer products"/>
        </figure>
	<h2>&nbsp</h2>
        <iframe src="http://www.foodtrade.menu/" style="width: 100%; height: 700px;"></iframe>
</section>
<section data-state="no-footer">
	<figure class="top-right" style="display: block;">
                <img src="images/sector_icons/consumer_products.svg" width="80px" style="padding-right: 30px" alt="consumer products"/>
        </figure>
	<h2>&nbsp</h2>
	<iframe src="http://odinprac.theodi.org/proxy.php?url=http://www.marksandspencer.com/peep-toe-block-heel-court-shoes-with-insolia/p/p22366143" style="width: 100%; height: 700px;"></iframe>
</section>
</section>

<section data-state="stack">
<section data-state="no-footer">
	<figure class="top-right" style="display: block;">
                <img src="images/sector_icons/energy.svg" width="80px" style="padding-right: 30px" alt="energy"/>
        </figure>
	<h2>&nbsp</h2>
	<iframe src="https://platform.carbonculture.net/landing/" style="width: 100%; height: 700px;"></iframe>
</section>
<section data-state="no-footer">
	<figure class="top-right" style="display: block;">
                <img src="images/sector_icons/energy.svg" width="80px" style="padding-right: 30px" alt="energy"/>
        </figure>
	<h2>&nbsp</h2>
        <iframe src="https://www.demandlogic.co.uk/" style="width: 100%; height: 700px;"></iframe>
</section>
<section data-state="no-footer">
	<figure class="top-right" style="display: block;">
                <img src="images/sector_icons/energy.svg" width="80px" style="padding-right: 30px" alt="energy"/>
        </figure>
	<h2>&nbsp</h2>
	<iframe src="http://odinprac.theodi.org/proxy.php?url=https://www.hivehome.com/" style="width: 100%; height: 700px;"></iframe>
</section>
</section>

<section data-state="stack">
<section data-state="no-footer">
	<figure class="top-right" style="display: block;">
                <img src="images/sector_icons/health.svg" width="80px" style="padding-right: 30px" alt="health"/>
        </figure>
	<h2>&nbsp</h2>
	<iframe src="http://www.prescribinganalytics.com/" style="width: 100%; height: 700px;"></iframe>
</section>
<section data-state="no-footer">
	<figure class="top-right" style="display: block;">
                <img src="images/sector_icons/health.svg" width="80px" style="padding-right: 30px" alt="health"/>
        </figure>
	<h2>&nbsp</h2>
        <iframe src="http://odinprac.theodi.org/proxy.php?url=http://www.windowsphone.com/en-sg/store/app/sg-dengue-hotspot/2202df7c-8483-4f52-99aa-ff86ba729931" style="width: 100%; height: 700px;"></iframe>
</section>
</section>

<section data-state="no-footer">
	<figure class="top-right" style="display: block;">
                <img src="images/sector_icons/finance.svg" width="80px" style="padding-right: 30px" alt="finance"/>
        </figure>
	<h2>&nbsp</h2>
	<iframe src="http://smtm.labs.theodi.org/" style="width: 100%; height: 700px;"></iframe>
</section>

<section data-state="stack">
<section data-state="no-footer">
	<figure class="top-right" style="display: block;">
                <img src="images/sector_icons/environment.svg" width="80px" style="padding-right: 30px" alt="environment"/>
        </figure>
	<h2>&nbsp</h2>
	<iframe src="http://www.gaugemap.co.uk/" style="width: 100%; height: 700px;"></iframe>
</section>
<section data-state="no-footer">
	<figure class="top-right" style="display: block;">
                <img src="images/sector_icons/environment.svg" width="80px" style="padding-right: 30px" alt="environment"/>
        </figure>
	<h2>&nbsp</h2>
        <iframe src="http://odinprac.theodi.org/proxy.php?url=https://www.youtube.com/watch?v=JoqW3mOqBw4" style="width: 100%; height: 700px;"></iframe>
</section>
</section>
