<section data-state="stack">
<section data-state="no-footer" class="left">
	<figure style="text-align: center; width: 100%;"><h2 style="float: left;">Knowing what open data is</h2><img src="images/od_challenges/govlab_open_def.png" style="border:none; width: 100%; position: absolute; top: 0px; left: 20px; z-index: -30;"/></figure>
	<p style="text-align:center; font-size: smaller;">Govlab: What's in a name?</p>
</section>	

<section data-state="no-footer" class="left">
	<figure style="text-align: center; width: 100%;"><img src="images/od_challenges/od_licensing.png" style="border:none; width: 100%"/></figure>
	<p style="text-align:center; font-size: smaller;">Credit: Thomas Levine</p>
</section>	

<section data-state="no-footer" class="left">
	<figure style="text-align: center; width: 100%;"><img src="images/od_challenges/od_updated.png" style="border:none; width: 100%"/></figure>
	<p style="text-align:center; font-size: smaller;">Credit: Thomas Levine</p>
</section>	

<section data-state="no-footer" class="left">
	<figure style="text-align: center; width: 100%;"><img src="images/od_challenges/od_structure.png" style="border:none; width: 100%"/></figure>
	<p style="text-align:center; font-size: smaller;">Credit: Thomas Levine</p>
</section>	

<section class="odi-dynamic left">
	<h2>Exercise</h2>
	<p class="odi-question">
	What are the 3 main challenges in your organisation?
	</p>
	<p class="odi-question" style="margin-top: 0px; font-size: 60px; font-style: italic; color: #bfbfbf;">
	5 minutes
	</p>
</section>
</section>
