<section class="center">
	<h2>Meet the team</h2>
	<div align="center">
		Coming Soon
	</div>
</section>

<section class="odi-polygons left">
	<h2>Hello</h2>
	<ul class="no-bullet" style="font-size: 1.6em; line-height: 1.8em;">
	<li>Who are you?</li>
	<li>What do you do?</li>
	<li>Proudest technological achievement?</li> 
	<li>What do you hope to get out of the training?</li>
	</ul>	
</section>

<section class="left">
	<h2>Expectations</h2>
	<ul class="no-bullet" style="width: 50%; text-align: right; font-size: 64px; line-height: 2em;">
		<li>Interactive Learning</li>
		<li>Experience Based</li>
		<li>Community Driven</li>
	</ul>
	<figure style="float: right;">
		<img style="width: 350px; padding-top: 20px; padding-right: 50px;" src="images/odinprac_intro/community.png"/>
	</figure>
</section>

<section class="odi-polygons left">
	<h2>Schedule</h2>
	<table width="80%" style="padding-left: 20px; font-size: 1.3em; line-height: 1.4em;">
		<tr><td width="30%">Monday:</td><td width="70%">Web evolution</td></tr>
		<tr><td width="30%">Tuesday:</td><td width="70%">Building a web of data</td></tr>
		<tr><td width="30%">Wednesday:</td><td width="70%">What, when and why?</td></tr>
		<tr><td width="30%">Thursday:</td><td width="70%">The Semantic Web</td></tr>
		<tr><td width="30%">Friday:</td><td width="70%">Web X.X: A realistic vision?</td></tr>
	</table>
</section>

