<section class="left" class="odi-blue left">
	<impact>Law and Licensing<br/><small style="font-size: 32px;">
	(please note, I am not a lawyer and this section should not be treated as legal advice)</small></impact>
</section>

{% include training_sets/definition_of_open_okf.html %}

<section class="left">
	<h2>IPR and Licensing</h2>
	<figure style="text-align: center"><img src="images/quick_law/law_venn.png" height="500px" alt="Law and IPR Venn Diagram"></img></figure>
</section>

<section class="odi-polygons left">
	<h2>Rule of Thumb</h2>
	<ul style="line-height: 2em; font-size: 48px; vertical-align: top; list-style-type: none;">
		<li>Do you have rights or permission to publish?</li>
		<li>Do you have rights to use the information/data?</li>
		<li>Is the data derived from other sources?</li>
		<li>What are the permissions concerning those sources?</li>
	</ul>
</section>

<section>
	<h2>Open Government Licence (OGL)</h2>
	<figure style="text-align: center"><img src="images/quick_law/image36.png" height="500px" alt="The Open Government Licence"></img></figure>
</section>

<section>
	<h2>Other Licences</h2>
	<br/>
	<figure style="text-align: center"><img src="images/quick_law/cc4.png" height="150px" alt="Creative Commons 4"></img></figure>
	<br/>
	<figure style="text-align: center"><img src="images/quick_law/image38.png" height="150px" alt="ODbL"></img><br/>Open Database Licence</figure>
	<br/><br/>
</section>

<section data-state="stack">
<section class="left">
	<h2>Re-Mixing</h2>
	<figure style="text-align: center"><img src="images/quick_law/image39.png" height="400px" alt="Licence compatibility tool"></img><br/><br/><a target="_blank" href="http://clipol.org/tools/compatibility">http://clipol.org/tools/compatibility</a></figure>
</section>
<section class="left" data-state="no-footer">
	<iframe src="http://clipol.org/tools/compatibility" style="width: 100%; height: 700px;"></iframe>
</section>
</section>
