<section class="center">
	<h2>The Semantic Web</h2>
</section>
<section class="odi-dynamic left">
        <h2>Exercise</h2>
        <p class="odi-question">
        What is the potential of the Semantic Web?
        </p>
</section>
<section class="center">
	<img height="600px" src="images/semantic_web/sciam.jpg"></img>
</section>
<section class="left">
	<h2>Alan Turing</h2>
	<figure style="float: right;">
		<img src="http://upload.wikimedia.org/wikipedia/en/thumb/c/c8/Alan_Turing_photo.jpg/225px-Alan_Turing_photo.jpg" style="width: 400px;"></img>
	</figure>
	<ul style="font-size: 1.3em; line-height: 1.4em;">
	<li>Conceived the first computer</li>
	<li>Defined artificial intelligence</li>
	<li>Broke german ciphers</li>
	<li>Predicted chemical reactions</li>
	<li>Died a hymiliated man at the age of 41</li>
	<li>In 2013 he was pronouned a hero</li>
	</ul>
</section>
<section>
	<h2>The Turing Machine</h2>
	<figure style="text-align: center; padding-top: 1em; padding-bottom: 1em;">
		<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Maquina.png/800px-Maquina.png" width="400px"></img>
	</figure>
	<p>Turing conceived the first turing machine; a device that manipulates symbols according to some rules. Today we call this technology a CPU.</p>
</section>
<section class="left">
	<h2>The Turing Test</h2>
	<figure style="float: right;">
                <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Turing_Test_version_3.png/220px-Turing_Test_version_3.png" style="width: 400px;"></img>
        </figure>
	<p style="width: 50%; line-height: 1.4em; padding-left: 80px; font-size: 1.4em;">Defines a machines ability to exhibit intelligent behaviour equivalent to, or indistinguishable from, that of a human.</p>
</section>
<section class="left">
	<h2>Artificial Intelligence</h2>
	<figure style="float: right; text-align: center;">
                <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/4/49/John_McCarthy_Stanford.jpg/800px-John_McCarthy_Stanford.jpg" style="width: 400px;"></img>
        	<br/>
		<span style="font-size: 0.5em">Credit: <a href="http://www.flickr.com/photos/null0/">null0</a></span>
	</figure>
	<p style="width: 50%; line-height: 1.4em; padding-left: 40px;">A term coined by <a href="http://en.wikipedia.org/wiki/John_McCarthy_(computer_scientist)">John McCarthy</a> in 1955. John worked extensively in the field of computing and cognative science and developed the Lisp programming language.<p>
</section>

{% include training_sets/ai_challenges.html %}
{% include training_sets/layer_cake.html %}

<section class="center">
	<h2><i>"This simple idea... remains largely unrealized."</i></h2>
	<div style="width: 90%; text-align: right;">
                <i> - Berners-Lee et. al (2006)</i>
        </div>
</section>
