<section class="center">
	<h2>The Semantic Web</h2>
</section>
<section class="odi-dynamic left">
        <h2>Exercise</h2>
        <p class="odi-question">
        What is the potential of the Semantic Web?
        </p>
</section>
<section class="center">
	<img height="600px" src="images/semantic_web/sciam.jpg"></img>
</section>
<section class="left">
	<h2>Alan Turing</h2>
	<figure style="float: right;">
		<img src="http://upload.wikimedia.org/wikipedia/en/thumb/c/c8/Alan_Turing_photo.jpg/225px-Alan_Turing_photo.jpg" style="width: 400px;"></img>
	</figure>
	<ul style="font-size: 1.3em; line-height: 1.4em;">
	<li>Conceived the first computer</li>
	<li>Defined artificial intelligence</li>
	<li>Broke german ciphers</li>
	<li>Predicted chemical reactions</li>
	<li>Died a hymiliated man at the age of 41</li>
	<li>In 2013 he was pronouned a hero</li>
	</ul>
</section>
<section>
	<h2>The Turing Machine</h2>
	<figure style="text-align: center; padding-top: 1em; padding-bottom: 1em;">
		<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Maquina.png/800px-Maquina.png" width="400px"></img>
	</figure>
	<p>Turing conceived the first turing machine; a device that manipulates symbols according to some rules. Today we call this technology a CPU.</p>
</section>
<section class="left">
	<h2>The Turing Test</h2>
	<figure style="float: right;">
                <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Turing_Test_version_3.png/220px-Turing_Test_version_3.png" style="width: 400px;"></img>
        </figure>
	<p style="width: 50%; line-height: 1.4em; padding-left: 80px; font-size: 1.4em;">Defines a machines ability to exhibit intelligent behaviour equivalent to, or indistinguishable from, that of a human.</p>
</section>
<section class="left">
	<h2>Artificial Intelligence</h2>
	<figure style="float: right; text-align: center;">
                <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/4/49/John_McCarthy_Stanford.jpg/800px-John_McCarthy_Stanford.jpg" style="width: 400px;"></img>
        	<br/>
		<span style="font-size: 0.5em">Credit: <a href="http://www.flickr.com/photos/null0/">null0</a></span>
	</figure>
	<p style="width: 50%; line-height: 1.4em; padding-left: 40px;">A term coined by <a href="http://en.wikipedia.org/wiki/John_McCarthy_(computer_scientist)">John McCarthy</a> in 1955. John worked extensively in the field of computing and cognative science and developed the Lisp programming language.<p>
</section>

<section class="left">
	<h2 style="float: left;">AI Challenges</h2>
	<a id="ratings_click" onClick="showRatings();" style="font-size: 0.5em; cursor: pointer; float:right; padding-right: 1em;">Reveal Progress</a>
	<h2 style="float: right; padding-right: 1em;" class="overall_progress">54%</h2>
	<table width="90%" id="progress_table" style="padding-left: 30px;">
		<tr><td width="40%" height="46px">Perception</td><td width="60%"><div class="progressbar" id="perception_progress"><div></div></div></td></tr>
		<tr><td width="40%" height="46px">Learning</td><td width="60%"><div class="progressbar" id="learning_progress"><div></div></div></td></tr>
		<tr><td width="40%" height="46px">Knowledge</td><td width="60%"><div class="progressbar" id="knowledge_progress"><div></div></div></td></tr>
		<tr><td width="40%" height="46px">Context</td><td width="60%"><div class="progressbar" id="context_progress"><div></div></div></td></tr>
		<tr><td width="40%" height="46px">Planning</td><td width="60%"><div class="progressbar" id="planning_progress"><div></div></div></td></tr>
		<tr><td width="40%" height="46px">Reasoning</td><td width="60%"><div class="progressbar" id="reasoning_progress"><div></div></div></td></tr>
		<tr><td width="40%" height="46px">Common Sense</td><td width="60%"><div class="progressbar" id="commonsense_progress"><div></div></div></td></tr>
		<tr><td width="40%" height="46px">Communication</td><td width="60%"><div class="progressbar" id="communication_progress"><div></div></div></td></tr>
		<tr><td width="40%" height="46px">Ethics</td><td width="60%"><div class="progressbar" id="ethics_progress"><div></div></div></td></tr>
		<tr><td width="40%" height="46px">Legal</td><td width="60%"><div class="progressbar" id="legal_progress"><div></div></div></td></tr>
		<tr><td width="40%" height="46px">&nbsp;</td><td width="60%" class="progresskey" style="vertical-align: top; font-size: 0.5em; line-height: 0.6em;">
		<span style="float: left;">0....</span>
		<span style="float: right;">Turing test complete</span>
		</td></tr>
	</table>

	<script>
	function progress(percent, element) {
		var progressBarWidth = percent * $('#'+element).width() / 100;
		$('#'+element).find('div').animate({ width: progressBarWidth }, 500).html(percent + "%&nbsp;");
	}
	function showRatings() {
		$('#ratings_click').fadeOut();
		$('.progressbar').fadeIn();
		$('.progresskey').fadeIn();
		base_time = 4000;
		setTimeout(function(){progress(65, "perception_progress");},base_time);		
		setTimeout(function(){progress(60, "learning_progress");},base_time + 200);
		setTimeout(function(){progress(60, "knowledge_progress");},base_time + 400);
		setTimeout(function(){progress(30, "context_progress");},base_time + 600);
		setTimeout(function(){progress(70, "planning_progress");},base_time + 800);
		setTimeout(function(){progress(55, "reasoning_progress");},base_time + 1000);
		setTimeout(function(){progress(40, "commonsense_progress");},base_time + 1200);
		setTimeout(function(){progress(60, "communication_progress");},base_time + 1400);
		setTimeout(function(){progress(40, "ethics_progress");},base_time + 1600);
		setTimeout(function(){progress(60, "legal_progress");},base_time + 1800);
		setTimeout(function(){$('.overall_progress').fadeIn();},base_time + 2800);
	}
	</script>
</section>
<section class="left">
<script>
 	var cmds = new Array();

	cmds[10] = "Trust,250,50,10,10,110,30";
	cmds[9] = "Proof,250,50,120,70,110,30";
	cmds[8] = "Logic,350,50,120,130,160,30";
	cmds[4] = "Cryptography,100,230,10,70,1,100";
	cmds[7] = "Taxonomies,140,50,120,190,28,30";
	cmds[6] = "Ontologies,140,50,270,190,32,30";
	cmds[5] = "Rules,140,50,420,190,50,30";
	cmds[2] = "Shared Data Format (RDF),440,50,120,250,130,30";
	cmds[3] = "APIs,100,110,570,190,35,60";
	cmds[1] = "Open Namespaces,360,50,10,310,110,30";
	cmds[0] = "Open Identifiers (****),360,50,380,310,125,30";
	cmds[11] = "The Web,780,50,10,370,360,30";

	var next_counter = 0;
	var triangle_done = false;

	function showDays() {
		whiteAll();
		if (!document.getElementById("Day 1")) {
			console.log("Adding Days");
			addDay("Day 1",'#00b7ff','40px',25);
			addDay("Day 2",'#f9bc26','150px',25);
			addDay("Day 3",'#66ef66','260px',25);
			addDay("Day 4",'#ab2a86','370px',25);
			addDay("Not Covered",'white','480px',2);
		}
		$('#day_nav').show();
	}

	function showTriangle() {
		$('#day_nav').hide();
		$('#triangle_nav').show();
		if (triangle_done) {
			return;
		}
		var elem = document.getElementById('triangle_nav');
		context = elem.getContext('2d');
		if (!context) {
			return;
		}
		context.fillStyle="#d60202";
		context.strokeStyle="#d60202";
		context.lineWidth = 2;

		context.beginPath();
		context.moveTo(0,220);
		context.lineTo(300,220);
		context.lineTo(250,150);
		context.lineTo(50,150);
		context.lineTo(0,220);
		
		context.fill();
		context.stroke();
		context.closePath();
		
		context.fillStyle="#0cbc38";
		context.strokeStyle="#0cbc38";

		context.beginPath();
		context.moveTo(51,149);
		context.lineTo(249,149);
		context.lineTo(200,80);
		context.lineTo(100,80);
		context.lineTo(51,149);
		
		context.fill();
		context.stroke();
		context.closePath();
	
		context.fillStyle="#ff6600";
		context.strokeStyle = '#ff6600';
	
		context.beginPath();
		context.moveTo(101,79);
		context.lineTo(199,79);
		context.lineTo(150,10);
		context.lineTo(101,79);
		
		context.fill();
		context.stroke();
		context.closePath();

		triangle_done = true;
	
	}

	function revealDay(day) {
		if (day == "Day 1") {
			$("canvas[id='Shared Data Format (RDF)']").animate({backgroundColor: '#00b7ff'});
			$("canvas[id='The Web']").animate({backgroundColor: '#00b7ff'});	
		}
		if (day == "Day 2") {
			$("canvas[id='Open Namespaces']").animate({backgroundColor: '#f9bc26'});
			$("canvas[id='Open Identifiers (****)']").animate({backgroundColor: '#f9bc26'});
		}
		if (day == "Day 3") {
			$('#APIs').animate({backgroundColor: '#66ef66'});	
			$('#Proof').animate({backgroundColor: '#66ef66'});	
			$('#Trust').animate({backgroundColor: '#66ef66'});	
			$('#Logic').animate({backgroundColor: '#66ef66'});	
		}
		if (day == "Day 4") {
			$('#Rules').animate({backgroundColor: '#ab2a86'});	
			$('#Ontologies').animate({backgroundColor: '#ab2a86'});	
			$('#Taxonomies').animate({backgroundColor: '#ab2a86'});	
		}
	}

	function whiteAll() {
		$('#triangle_nav').hide();
		$('#day_nav').hide();
		for (i=0;i<cmds.length;i++) {
			id = (cmds[i].split(","))[0];
			$("canvas[id='"+id+"']").animate({backgroundColor: 'white'});
		}
	}	
	
	function showAll() {
		for (i=0;i<12;i++) {
			showNext();
		}
		$('#show_all').hide();
	}
	function showNext() {
		cmd = cmds[next_counter];
		parts = cmd.split(",");
		addElement(parts[0],parts[1],parts[2],parts[3],parts[4],parts[5],parts[6]);
		next_counter++;
		if (next_counter > 11) {
			$('#show_next').hide();
		}
	}

	function addDay(id,color,padding,x) {
	  c = document.createElement("canvas");
	  c.setAttribute("id",id);
	  c.setAttribute("width",100);
	  c.setAttribute("height",50);
	  c.setAttribute("class","box");
	  c.setAttribute("style","left: " + padding + "; background-color: " + color + ";");
	  c.addEventListener('click', function(event) {
		revealDay(id);
	  });
	  parent = document.getElementById("day_nav");
	  parent.appendChild(c);
	  addText(id,x,30);
	}

	function addElement(id,w,h,r,t,x,y) {
	  c = document.createElement("canvas");
	  c.setAttribute("id",id);
	  c.setAttribute("width",w);
	  c.setAttribute("height",h);
	  c.setAttribute("class","box");
	  c.setAttribute("style","right: " + r + "px; top: " + t + "px; background-color: white;");
	  parent = document.getElementById("layer_cake");
	  parent.appendChild(c);
	  addText(id,x,y);
	}
	
	function addText(id,x,y) {
	  var c=document.getElementById(id);
	  var ctx=c.getContext("2d");
	  ctx.font="16px Helvetica";
	  ctx.fillText(id,x,y);
	}

	</script>
	<style>
	.reveal .box {
	  border:1px solid #000000;
	  position: absolute;
	  float: right;
	}
	</style>
	<h2 style="float: left;">The Semantic Web</h2>
	<control style="font-size: 0.5em; cursor: pointer; float:right; padding-right: 1em;">
		<a id="show_all" onClick="showAll();">All</a> | 
		<a id="show_next" onClick="showNext();">Progress</a> | 
		<a id="triangle" onClick="showTriangle();">Triangle</a> | 
		<a id="days" onClick="showDays();">Days</a> 
	</control>
	<nav id="day_nav" style="position: absolute; top: 80px; left: 10px;">
	</nav>
	<canvas id="triangle_nav" style="position: absolute; top: 80px; left: 80px;" width="305px" height="225px">
	</canvas>
	<section style="width: 80%; margin-top: 130px;" id="layer_cake">
	</section>

</section>
<section class="center">
	<h2><i>This simple idea... remains largely unrealized."</i></h2>
	<div style="width: 90%; text-align: right;">
                <i> - Berners-Lee et. al (2006)</i>
        </div>
</section>
<section class="center">
	<h2>Building blocks</h2>
</section>
