<section class="odi-blue left">
	<impact>Data Expeditions</impact>
	<figure class="top-right"><img src="images/skills/school_of_data.png" alt="OKF - School of Data"/></figure>
</section>

<section class="left">
	<h2>The Storyteller</h2>
	<figure class="left-33" style="min-height: 400px; text-align: center;">
		<img style="width: 100%;" src="images/skills/newspaper.svg" alt="Newspaper"/></figure>
	</figure>
	<column class="right-66">
	<ul style="font-size: 38px;" class="no-bullet shortlist">
		<li>Responsible for ensuring that the story is interesting to a wide audience.</li>
		<li>Asks complicated questions and ﬁnds interesting angles.</li>
		<li>Maintains group focus on the key message.</li>
	</ul>
	</column>
</section>

<section class="left">
	<h2>The Scout</h2>
	<figure class="left-33" style="min-height: 400px; text-align: center;">
		<img style="width: 100%;" src="images/skills/html_mag.png" alt="Newspaper"/></figure>
	</figure>
	<column class="right-66">
	<ul style="font-size: 38px;" class="no-bullet shortlist">
		<li>Responsible for hunting down data for use in the story.</li>
		<li>Builds on or establishes key relationships with partners who are providing resources.</li>
		<li>Should have a knowledge of data scraping and translation to diﬀerent formats.</li> 
	</ul>
	</column>
</section>

<section class="left">
	<h2>The Analyst</h2>
	<figure class="left-33" style="min-height: 400px; text-align: center;">
		<img style="width: 100%;" src="images/skills/miracle_occurs.png" alt="Newspaper"/></figure>
	</figure>
	<column class="right-66">
	<ul style="font-size: 38px;" class="no-bullet shortlist">
		<li>Crunch data found by the scout.</li>
		<li>Test storytellers hypothesis.</li>
		<li>Discover new patterns in the data that could add more interesting angles to the story.</li>
	</ul>
	</column>
</section>

<section class="left">
	<h2>The Engineer</h2>
	<figure class="left-33" style="min-height: 400px; text-align: center;">
		<img style="width: 100%;" src="images/skills/engineer.svg" alt="Newspaper"/></figure>
	</figure>
	<column class="right-66">
	<ul style="font-size: 38px;" class="no-bullet shortlist">
		<li>Responsible for the ﬁnal output being a functional service.</li>
		<li>Doesn’t have to know how to code but in the majority of cases it is advised.</li>
		<li>Should know how the web works.</li>
	</ul>
	</column>
</section>

<section class="left">
	<h2>The Designer</h2>
	<figure class="left-33" style="min-height: 400px; text-align: center;">
		<img style="width: 100%;" src="images/skills/jonny_ive.png" alt="Newspaper"/></figure>
	</figure>
	<column class="right-66">
	<ul style="font-size: 38px;" class="no-bullet shortlist">
		<li>Makes sure the story comes to life.</li>
		<li>Works with the story teller to ensure an emotional connection with intended audience.</li>
		<li style="font-size: 0.6em;">(A designer who just produces a paper version of the output is just as valid!)</li>
	</ul>
	</column>
</section>
