<section class="odi-green left">
	<impact>Key Tools</impact>
</section>

<section class="left">
	<h2>The Storyteller</h2>
	<p style="width: 80%; margin-left: auto; margin-right: auto; margin-top: 2em; margin-bottom: 2em;">While the storyteller is not a project manager, having knowledge of these type of tools will help keep the project on track.</p>
	<div align="center" style="width: 80%; margin-left: auto; margin-right: auto; text-align: center;">
		<column style="width: 45%; float: left; display: block;">
			<figure>
				<img style="height: 130px;"  src="https://d2k1ftgv7pobq7.cloudfront.net/images/bd87ee916375920ae72dffadbb10d412/logo-blue-lg.png" alt="trello"></img>
			</figure>
			<p>Simple web based project management with task lists and cards.</p>
		</column>
		<column style="width: 45%; float: right; display: block;">
			<p>Version control and bug tracking system. Usually used for software and outputs. </p>
			<figure>
				<img style="height: 130px;"  src="http://railsgirls.com/images/github-logo.png" alt="github"></img>
			</figure>
		</column>
	</div>
</section>

<section data-state="stack">
<section class="left">
	<h2>The Scout</h2>
	<div align="center" style="margin-top: 2em; width: 80%; margin-left: auto; margin-right: auto; text-align: center;">
		<column style="width: 45%; float: left; display: block;">
			<item style="height: 200px; display: block;">
			  <figure>
			 	<img style="height: 130px;"  src="http://upload.wikimedia.org/wikipedia/commons/9/9c/ScraperWiki_logo.svg" alt="Scraper Wiki"></img>
			  </figure>
			  <p>Scraper Wiki</p>
			</item>
			<item style="height: 200px; display: block;">
			  <figure>
			 	<img style="height: 130px;"  src="http://upload.wikimedia.org/wikipedia/commons/8/87/Google_Chrome_icon_(2011).png" alt="Chrome Web Inspector"></img>
			  </figure>
			  <p>Chrome Web Inspector</p>
			</item>
		</column>
		<column style="width: 45%; float: right; display: block;">
			<item style="height: 200px; display: block;">
			  <figure>
			 	<img style="height: 130px;"  src="https://evbdn.eventbrite.com/s3-s3/eventlogos/65926341/import.iodigital.png" alt="Import IO"></img>
			  </figure>
			  <p>Import.io</p>
			</item>
			<item style="height: 200px; display: block; vertical-align: middle;">
			  <figure>
			 	<img style="height: 130px;" src="images/tools/Graphite.png" alt="Graphite"></img>
			  </figure>
			  <p>Graphite</p>
			</item>
		</column>
	</div>
	
</section>
<section data-state="no-footer">
	<iframe src="https://scraperwiki.com/" style="width: 100%; height: 700px;"></iframe>
</section>
<section data-state="no-footer">
	<iframe src="http://import.io/" style="width: 100%; height: 700px;"></iframe>
</section>
<section data-state="no-footer">
	<iframe src="http://graphite.ecs.soton.ac.uk/browser/" style="width: 100%; height: 700px;"></iframe>
</section>
</section>

<section data-state="stack">
<section class="left">
	<h2>The Analyst</h2>
	<div align="center" style="margin-top: 2em; width: 80%; margin-left: auto; margin-right: auto; text-align: center;">
		<column style="width: 45%; float: left; display: block;">
			<item style="height: 200px; display: block;">
			  <figure>
			 	<img style="height: 130px;" src="http://web.warwick.ac.uk/statsdept/user-2011/pics/logo_rstudio.jpg" alt="R Studio"></img>
			  </figure>
			  <p>R Studio</p>
			</item>
			<item style="height: 200px; display: block;">
			  <figure>
			 	<img style="height: 130px;" src="http://icons.iconarchive.com/icons/carlosjj/google-jfk/128/fusion-tables-icon.png" alt="Fusion Tables"></img>
			  </figure>
			  <p>Fusion Tables</p>
			</item>
		</column>
		<column style="width: 45%; float: right; display: block;">
			<item style="height: 200px; display: block;">
			  <figure>
			 	<img style="height: 130px;" src="http://upload.wikimedia.org/wikipedia/commons/thumb/7/76/Google-refine-logo.svg/631px-Google-refine-logo.svg.png" alt="Open Refine"></img>
			  </figure>
			  <p>Open Refine</p>
			</item>
			<item style="height: 200px; display: block; vertical-align: middle;">
			  <figure>
			 	<img style="height: 130px;" src="http://icons.iconarchive.com/icons/benjigarner/softdimension/256/Excel-icon.png" alt="Excel"></img>
			  </figure>
			  <p>Excel</p>
			</item>
		</column>
	</div>
</section>

<section data-state="no-footer">
	<iframe src="http://www.rstudio.com/" style="width: 100%; height: 700px;"></iframe>
</section>
<section data-state="no-footer">
	<iframe src="http://www.r-fiddle.org/#/" style="width: 100%; height: 700px;"></iframe>
</section>
<section data-state="no-footer">
	<iframe src="http://openrefine.org/" style="width: 100%; height: 700px;"></iframe>
</section>

</section>

<section data-state="stack">
<section class="left">
	<h2>The Engineer</h2>
	<div align="center" style="margin-top: 2em; width: 80%; margin-left: auto; margin-right: auto; text-align: center;">
		<column style="width: 45%; float: left; display: block;">
			<item style="height: 200px; display: block;">
			  <figure>
			 	<img style="height: 130px;" src="http://www.w3.org/html/logo/downloads/HTML5_Logo_256.png" alt="HTML5"></img>
			  </figure>
			  <p>HTML 5</p>
			</item>
			<item style="height: 200px; display: block;">
			  <figure>
			 	<img style="height: 130px;" src="http://www.mathieu-elie.net/wp-content/uploads/2013/10/d3js-logo.jpg" alt="d3.js"></img>
			  </figure>
			  <p>d3.js</p>
			</item>
		</column>
		<column style="width: 45%; float: right; display: block;">
			<item style="height: 200px; display: block;">
			  <figure>
			 	<img style="height: 130px;" src="https://pbs.twimg.com/profile_images/1774437700/full.png" alt="REST Console"></img>
			  </figure>
			  <p>REST Console</p>
			</item>
			<item style="height: 200px; display: block; vertical-align: middle;">
			  <figure>
			 	<img style="height: 130px;" src="http://railsgirls.com/images/github-logo.png" alt="Github"></img>
			  </figure>
			  <p>Github</p>
			</item>
		</column>
	</div>
</section>

<section data-state="no-footer">
	<iframe src="http://d3js.org/" style="width: 100%; height: 700px;"></iframe>
</section>

<section data-state="no-footer">
	<iframe src="https://github.com" style="width: 100%; height: 700px;"></iframe>
</section>

</section>

<section class="left">
	<h2>The Designer</h2>
	<div align="center" style="margin-top: 2em; width: 80%; margin-left: auto; margin-right: auto; text-align: center;">
		<column style="width: 45%; float: left; display: block;">
			<item style="height: 200px; display: block;">
			  <figure>
			 	<img style="height: 130px;" src="http://icons.iconarchive.com/icons/carlosjj/google-jfk/128/fusion-tables-icon.png" alt="Fusion Tables"></img>
			  </figure>
			  <p>Fusion Tables</p>
			</item>
			<item style="height: 200px; display: block;">
			  <figure>
			 	<img style="height: 130px;" src="http://mirdita.de/web_viz/resources/raphael.png" alt="Raphaël"></img>
			  </figure>
			  <p>Raphaël</p>
			</item>
		</column>
		<column style="width: 45%; float: right; display: block;">
			<item style="height: 200px; display: block;">
			  <figure>
			 	<img style="height: 130px;" src="http://www.mathieu-elie.net/wp-content/uploads/2013/10/d3js-logo.jpg" alt="d3.js"></img>
			  </figure>
			  <p>D3</p>
			</item>
			<item style="height: 200px; display: block; vertical-align: middle;">
			  <figure>
			 	<img style="height: 130px;" src="http://upload.wikimedia.org/wikipedia/commons/8/80/Adobe_Photoshop_CS5_icon.png" alt="Photoshop"></img>
			  </figure>
			  <p>Photoshop</p>
			</item>
		</column>
	</div>
</section>
