<section class="odi-purple left">
        <impact>Why now?</impact>
</section>

<section class="odi-circles left">
	<heading>
        <h2 class="invert" style="margin-left: 30px; padding-left: 23px; padding-bottom: 10px; padding-top: 10px; padding-right: 23px; margin-bottom: 10px">Why now?</h2></heading>
        <ul style="margin-left: 200px; line-height: 2em; font-size: 48px; vertical-align: top; list-style-type: none;">
                <li style="list-style-image: url(images/why_now/image26.png);">Policy Drivers</li>
                <li style="list-style-image: url(images/why_now/image25.png);">Technical Standards</li>
                <li style="list-style-image: url(images/why_now/image24.png);">Best Practice Guidelines</li>
        </ul>
</section>

{% include training_sets/barometer.html %}
