<section class="odi-purple left">
        <impact>Why now?</impact>
</section>

<section class="odi-circles left">
        <h2>Why now?</h2>
        <ul style="margin-left: 200px; line-height: 2em; font-size: 48px; vertical-align: top; list-style-type: none;">
                <li style="list-style-image: url(images/why_now/image26.png);">Policy Drivers</li>
                <li style="list-style-image: url(images/why_now/image25.png);">Technical Standards</li>
                <li style="list-style-image: url(images/why_now/image24.png);">Best Practice Guidelines</li>
        </ul>
</section>

<section>
        <h2>Participating Bodies</h2>
        <h4>Policy drivers</h4>
        <div>
                <img src="images/why_now/image30.png" height="100px" alt="g8"></img>
                <img src="images/why_now/image31.png" height="100px" alt="g20"></img>
                <img src="images/why_now/image32.png" height="100px" alt="world bank"></img>
        </div>
        <h4>Technical bodies</h4>
        <div>
                <img src="images/why_now/image28.png" height="100px" alt="w3c"></img>
        </div>
        <h4>Best practice developers</h4>
        <div>
                <img src="images/why_now/image29.png" height="100px" alt="OFD"></img>
                <img src="brand/odi_logo.svg" height="100px" alt="ODI"></img>
        </div>
</section>


<section data-state="no-footer">
	<figure style="text-align: center; width: 100%;"><img src="images/g8_part1.png" style="border:none; width: 100%"/></figure>
</section>

{% include training_sets/barometer.html %}

<section data-state="no-footer">
	<iframe src="//player.vimeo.com/video/97404977" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/97404977">Open Data Burkina Faso: Our schools, our data</a> from <a href="http://vimeo.com/theodiuk">Open Data Institute</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
</section>
